---
import Wovn from "@/components/Wovn.astro";
import type { BaseProps } from "./types";

interface Props extends BaseProps {}

const { page } = Astro.props;

// エイリアスから記事番号を抽出
let docid = "";
if (page.frontmatter.aliases.length > 0) {
  const alias = page.frontmatter.aliases[0];
  const parts = alias.split("/");
  docid = parts[parts.length - 1];
}
---

{
  docid && (
    <div class="id-bar">
      <div class="id-str">
        <Wovn>i18n__Article_number</Wovn>:{docid}
      </div>
    </div>
  )
}
