---
import { env } from "@/lib/env";
import BreadcrumbNav from './BreadcrumbNav.astro';
import type { BaseProps } from './types';

interface Props extends BaseProps {}

const { page } = Astro.props;
---

<nav class="breadcrumb" role="navigation" aria-label="i18n__todo__Bread_crumb">
    <ul class="breadcrumbs">
        <BreadcrumbNav p1={page} p2={page} />
    </ul>
</nav>