---
interface Props {
  languageCode: string;
  disclaimerText: string;
}

const { languageCode, disclaimerText } = Astro.props;

// PDF URLの生成
function getDisclaimerPdfUrl(languageCode: string): string {
  let pdfUrl = "https://cybozu.co.jp/spec/pdf/machine-translation-english.pdf";
  
  if (languageCode === "zh-cn" || languageCode === "zh-jp") {
    pdfUrl = "https://cybozu.co.jp/spec/pdf/machine-translation-chinise.pdf";
  }
  
  return pdfUrl;
}

const pdfUrl = getDisclaimerPdfUrl(languageCode);
---

<li>
  <a href={pdfUrl} target="_blank">{disclaimerText}</a>
  <i class="far fa-file-pdf index-pdf" aria-hidden="true"></i>
</li> 