---
import Wovn from "@/components/Wovn.astro";
---

<div class="locale-modal">
  <div class="locale-modal-content" role="dialog" aria-modal="true">
    <div class="locale-modal-text">
      <div>
        <Wovn>このページは、日本国外のお客様向けです。<br>日本のお客様に適したページに移動しますか？</Wovn>
      </div>
    </div>
    <div class="locale-modal-button">
      <button type="button" class="locale-modal-button-yes">
        <span><Wovn>はい</Wovn></span>
      </button>
      <button type="button" class="locale-modal-button-no">
        <span><Wovn>いいえ</Wovn></span>
      </button>
    </div>
  </div>
</div>
