---
import { getSiteHomeSections } from "@/lib/page";
import Title from './Title.astro';
import NavMainMenu from './NavMainMenu.astro';
import type { BaseProps } from './types';

interface Props extends BaseProps {}

const { page } = Astro.props;

const entries = getSiteHomeSections();
const target = page;
---

<div id="mainmenu">
  <ul id="navi">
    {entries
      .sort((a, b) => (a.weight || 0) - (b.weight || 0))
      .map((entry) => (
        <NavMainMenu curnode={entry} target={target} />
      ))}
  </ul>
</div>