---
import Wovn from "@/components/Wovn.astro";

interface Props {
  nextInSection?: {
    permalink: string;
  };
  prevInSection?: {
    permalink: string;
  };
}

const { nextInSection, prevInSection } = Astro.props;
---

<nav class="pagination">
  {
    nextInSection && (
      <div class="pagination-previous">
        <i class="fas fa-caret-left" />
        <a href={nextInSection.permalink}>
          <Wovn>i18n__Previous_page</Wovn>
        </a>
      </div>
    )
  }
  {
    prevInSection && (
      <div class="pagination-next">
        <a href={prevInSection.permalink}>
          <Wovn>i18n__Next_page</Wovn>
        </a>
        <i class="fas fa-caret-right" />
      </div>
    )
  }
</nav>
