---
import Wovn from "@/components/Wovn.astro";
import type { PageProps } from "./types";

interface Props {
  nextInSection?: PageProps;
  prevInSection?: PageProps;
}

const { nextInSection, prevInSection } = Astro.props;
---

<nav class="pagination">
  {
    nextInSection && (
      <div class="pagination-previous">
        <i class="fas fa-caret-left" />
        <a href={nextInSection.relPermalink}>
          <Wovn>前のページへ</Wovn>
        </a>
      </div>
    )
  }
  {
    prevInSection && (
      <div class="pagination-next">
        <a href={prevInSection.relPermalink}>
          <Wovn>次のページへ</Wovn>
        </a>
        <i class="fas fa-caret-right" />
      </div>
    )
  }
</nav>
