---
interface Props {
  templateVersion?: string;
}

const { templateVersion = "1" } = Astro.props;
---

<div id="tree-nav" class="tree-base">
  {templateVersion === "2" && (
    <button id="tree-close-mobile">
      <i class="fas fa-times"></i>
    </button>
  )}
  <nav id="tree-main" class="tree-main" role="tree">
  </nav>
</div> 