---
import { env } from "@/lib/env";
import type { BaseProps } from './types';

interface Props extends BaseProps {}

const { page } = Astro.props;
---

<div id="treenav-toggle">
  <button 
    id="treenav-show" 
    class="treenav-toggle-button" 
    title="i18n__todo__Side_navigation_show"
  >
    <i class="fas fa-chevron-right" aria-hidden="true"></i>
  </button>
  <button 
    id="treenav-hide" 
    class="treenav-toggle-button" 
    title="i18n__todo__Side_navigation_hide"
  >
    <i class="fas fa-chevron-left" aria-hidden="true"></i>
  </button>
</div>