{{- if in .Params.disabled $.Site.Params.TargetRegion }}
<meta http-equiv="refresh" content="0; URL=/" />
{{- else }}
{{- partial "head" . }}
{{- partial "header" . }}
<div class="page-pad"></div>
{{- if eq $.Site.Params.meganav true -}}
    {{ partial "meganav" . }}
{{- end -}}

<div class="sect-wrap">
    {{- if and (eq $.Site.Params.product "Garoon") (ne $.Site.Params.languageCode "ja-jp") (ne $.Site.Params.languageCode "ja-cn") }}
        {{ partial "disclaimer" . }}
    {{- end }}
    {{- partial "breadcrumb" . -}}
    <main class="sect-main">
        <h1>{{ partial "title" . }}</h1>
{{ .Content }}

{{- $entries := $.Site.Home.Pages }}
{{- $rootsect := .FirstSection }}
                    
{{- range $entries.ByWeight}}
    {{- if eq .CurrentSection $rootsect }}
        {{- template "sectmenu" (dict "cursect" $rootsect ) }}
    {{- end}}
{{- end}}
    </main>
</div>
{{- partial "footer" . }}
{{- end }}
</body>
</html>

{{- define "sectmenu" }}
    {{- $cursect := .cursect }}
  <div>
    {{- range $cursect.Pages.ByWeight }}
    <div class="mega-title">
        <h2>
            {{- if ne .Params.nolink true -}}
            <a href="{{.RelPermalink}}">
            {{- end -}}
                <span class="fa-stack">
            {{- $iconface := "" }}
            {{- $targetlink := .RelPermalink }}
            {{- range $i, $r := getCSV "," "csv/icon_images.csv" }}
                {{- if in $targetlink (index $r 0)}}
                    {{- $iconface = (index $r 1) }}
                {{- end }}
            {{- end}}
                  <i class="far fa-circle fa-stack-2x" aria-hidden="true"></i>
                  <i class="{{$iconface}} fa-stack-1x" aria-hidden="true"></i>
                </span>
            {{- partial "title" . -}}
            {{- if ne .Params.nolink true -}}
            </a>
            {{- end -}}
        </h2>
    </div>
    <div class="sect-menu">
        <ul class="mega-list">
        {{- range .Pages }}
            <li class="mega-list-line"><a class="mega-list-item" href="{{.RelPermalink}}">{{- partial "title" . }}</a></li>
        {{- end }}
        </ul>
    </div>
    {{- end}}
  </div>
{{- end }}
