:root {
  --theme-color: #4bd7f3;

  --font-color: #333;
  --bg-color: #fff;
  --link-color: #2563eb;
  --button-bg-color: #f6f6f6;
  --hover-color: #ccdcff;
  --border-color: #c9c9c9;
  --partition-color: #999999;
  --status-bg-color: #d9d9d9;

  --header-bg-color: #ffffff;

  --focus-color: #2563eb;
  --select-color: #2563eb;
  --select-bg-color: #ccdcff;
  --item-color: #2563eb;
}

body {
 background-color: var(--bg-color);
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

*:focus{
  box-shadow: 0 0 0 2px var(--focus-color) inset;
  outline:none;
}

.far, .fas {
  color: var(--item-color);
}

.header::before {
  background-image: none;
}

#lang-selector:hover {
  background-color: var(--select-bg-color);
}
.lang-item:hover {
  background-color: var(--select-color);
}
.selectlang {
  background-color: var(--select-color);
}

.search-submit::after{
  color: var(--item-color);
}

.section-pagelist a, .latest-page-guide a, .breadcrumbs a, .article a, .nfarticle a, #page-toc a {
  color: var(--link-color);
}
.home-article {
    padding-bottom: 0
}
.footer::before {
  background-image: none;
}

.days {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  background: #F5F5F5;
  justify-content: center;
  
  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    min-width: 1200px;
  }

  .text {
    color: var(--color-text-default, #121212);
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 21px */ 
  }
  .left {
    display: flex;
    gap: 24px;
    align-items: center;

    .logo-days{
      height: 36px;
      width: auto;
    }
  }
  .box{
    display: flex;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    align-items: center;
    gap: 8px;
  }
  .right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    .btn{
      display: block;
      padding: 2px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 100px;
      border: 1px solid #000;
      color: #000;
      text-decoration: none;
      font-weight: bold;
    }
    .white{
      color: #000;
    }
      
    .black{
      color: #fff;
      background-color: #000;
    }
  }
}

@media (max-width: 768px) {
  .days {
    display: none;
  }
}
