/* コードブロックで利用する設定 ********************************************/
.highlight pre {
    border-radius: 4px;
}
.codeblock-copy-button {
    right: 4px;
    top: 10px;
}
.codeblock-wrapper + p {
    margin-top: 0.9em;
}
