/* Header */
.logo-wrap {
  width: 200px;
  padding-top: 8px;
}
.logo-product {
  display: none;
}
.logo-title {
  padding-left: 0;
  padding-top: 9px;
  font-size: 14px;
  color: #333;
}
.logo-title:lang(en) {
  font-size: 11px;
}

#tree-nav {
    margin-bottom: 70px;
}
#tree-nav:lang(en) {
    margin-bottom: 120px;
}

.home-article:lang(en) {
    padding-bottom: 170px;
}

/* step list ----------------------------- */
.step-list {
    width: auto !important;
}
.step-list, .step-line, .step-link {
    border: 0 !important;
}
.step-index, .step-link {
    padding: 0 !important;
    border: 0 !important;
    background-color: unset !important;
}
/* ---------------------- end of step list */


/* 768px以上の設定 *****************************************************/
@media only screen and (min-width:768px){
    .logo-title {
        padding-top: 0;
        font-size: 18px;
    }
    .logo-title:lang(en) {
        font-size: 12px;
    }
}

/* 890px以上の設定 *****************************************************/
@media only screen and (min-width:890px){
    .logo-title:lang(en) {
        font-size: 14px;
    }
}

/* 960px以上の設定 *****************************************************/
@media only screen and (min-width:960px){
    .logo-title:lang(en) {
        font-size: 18px;
    }
}

/* 1024px以上の設定 *****************************************************/
@media only screen and (min-width:1024px){
    .logo-title:lang(en) {
        font-size: 20px;
    }
}