/* コードブロックで利用する設定 ********************************************/
.article pre {
    border-radius: 4px;
}
.codeblock-copy-button {
    top: 10px;
    right: 10px;
}
.codeblock-wrapper + p {
    margin-top: 0.9em;
}

/* 「監査ログの一覧」で使用する設定 **************************************/

.id-header:has(h3.audit){
    border-bottom: 3px solid #e94f90;
    border-image: linear-gradient(to right, #287bf4 0%, #e94f90 100%);
    border-image-slice: 1;
    margin-bottom: 1.4rem;
}

h3.audit {
    margin-bottom: 0.5rem;
    padding-left: 0;
    border-left: none;
    border-image: none;
    border-image-slice: 0;
}
h4.audit {
    border-left: 4px solid #e94f90;
    border-image: linear-gradient(to top, #287bf4 0%, #e94f90 100%);
    border-image-slice: 1;
    line-height: 1em;
    margin-top: 1.5em;
    padding-top: 0.4em;
    padding-left: 0.4em;
    padding-bottom: 0.4em;
}

h4.audit + .id-link-button {
    margin-top: 2.2rem;
}

/* definition listの設定 -------------------------------------- */

.article dl {
    margin: 5px;
  }

  .article dt {
    margin-bottom: 7px;
    font-weight: bold;
  }

  .article dl > dt:nth-child(n + 2) {
    margin-top: 14px;
  }

  .article dd {
    margin-bottom: 7px;
    padding-left: 20px;
  }

/* list shortcode -------------------------------------- */
.article .listsummary ol > li::before {
    color: #ffffff;
    background-color: #0d7b91;
}
