/* Header */
.logo-wrap {
  width: 300px;
}
.logo-img {
  width: 180px;
  height: 35px;
  padding: 0;
}
.logo-product {
  display: none;
}
.logo-title {
  padding-left: 0;
  font-size: 24px;
  line-height: 24px;
  color: #333;
}
.logo-title:lang(en) {
  font-size: 20px;
}