
.mega-nav-home {
  border-bottom: 0;
}
.g-col {
  width: 33.333%;
}

.g-col:nth-child(n+4) {
  width: 25%;
}

.g-col:nth-child(3n) {
  border-right: 1px solid #ccc;
}

.g-col:last-child {
  border-right: 0;
}

@media only screen and (min-width: 768px) {

  .g-col {
    width: 33.333%;
  }

}

@media only screen and (min-width:1059px) {
  .g-col {
    width: 14%;
  }
  .g-col:nth-child(n+4) {
    width: 14%;
  }
}
