.top-title {
    color: #000;
    background: #dbe2e4;
}

.mega-title a {
    font-size: 1em;
}

.article code,.article pre {
    background:#F9F9F9;
    font-family: inherit;
}

.article pre {
    padding: .625em;
    margin-bottom: 1em;
    border:solid 1px #CBCBCB;
    font-weight: normal;
    line-height:1.6em;
    font-size: inherit;
}

.search-result a {
    color: #1b72cd;
}

/* Section audit logs -------------------------------------- */
.audit h2 {
    font-size:1.25rem;
    border-left: solid 8px #1992d4;
    border-bottom: none;
    background-color: #F3F1E8;
    margin-top: 2.5em;
    margin-bottom: 0.125em;
    padding: 12px;
    line-height: 1.5em;
}

.audit h3 {
    font-size: 1.125rem;
    margin-top: 1.5em;
    margin-bottom: 1em;
    border-bottom:#1992d4 solid 2px;
    border-left: none;
    font-weight: bold;
}

.audit ol {
    margin: 0 0 0;
    padding-left: 0;
}

.audit ol > li > p {
    font-weight: normal;
}

.audit ol > li {
    font-size: 1rem;
}

.audit ol > li::marker {
    font-size: 1rem;
    font-weight: normal;
    font-family: initial;
}

@media only screen and (min-width: 768px) {
    .logo-wrap {
        width: 390px;
    }
    .g-col {
        width: 20%;
    }
}

@media print {
    .book-title {
        width: 600px;
    }
}
