/* Header */
.logo-wrap {
  width: 200px;
  padding-top: 8px;
}
.logo-img {
  width: 100px;
  vertical-align: -14px;
}
.logo-product {
  display: none;
}
.logo-title {
  padding-left: 0;
  padding-top: 9px;
  font-size: 14px;
  color: #333;
}
.logo-title:lang(en) {
  font-size: 20px;
}

.article table {
    margin-bottom: 40px;
}

.article ul li {
    margin-bottom: 7px;
}

.article li > ul {
    margin-top: 7px;
}

.h6-noanc {
    margin-top: 0px;
    margin-bottom: 7px;
    padding-top: 0px;
}

:not(div.id-link-message) + .h6-noanc {
  margin-top: 24px;
}

.article dl {
  margin: 5px;
}

.article dt {
  margin-bottom: 7px;
  font-weight: bold;
}

.article dl > dt:nth-child(n + 2) {
  margin-top: 14px;
}

.article dd {
  margin-bottom: 7px;
  padding-left: 20px;
}

/* 768px以上の設定 *****************************************************/
@media only screen and (min-width:768px){
    .logo-img {
        width: 140px;
        height: 35px;
        vertical-align: -10px;
    }
    
    .logo-title {
        padding-top: 0;
        font-size: 18px;
    }
}
