a,
.mega-title a:hover i,
.breadcrumbs a,
.col-tile-gr2 a,
.tile-text li:before,
.tile-title,
.col-tile-gr i,
.article a,
.tree-title a,
.tree-subtitle a {
    color: #d0324b;
}

.article em {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, transparent), color-stop(55%, #fce2e6));
    background: -webkit-linear-gradient(transparent 55%, #fce2e6 55%);
    background: linear-gradient(transparent 55%, #fce2e6 55%);
    font-style: normal;
}

.logo-wrap {
    width: 120px;
}
.header .searchbox input[type=text]{
    border: 4px solid #d0324b;
}
.search-submit {
    background-color: #d0324b;
    border-color: #d0324b;
}
.header .search-submit::after {
    background-color: #d0324b;
}
.header .search-submit:focus {
    outline: 3px solid rgba(131,192,253,0.5);
}

#search1 {
    right: 0;
}

.g-col a.current {
    border-bottom: 2px solid #d0324b;
}
.g-col a:hover {
    color: #d0324b;
    border-bottom: 2px solid #d0324b;
}
.mega-nav {
    background-color: #f8c5c5;
}
.mega-tab.current {
    background-color: #ff8e8e;
}

#goto-top .fa-stack-1x {
    color: #d0324b;
}

.subnavi {
    padding-bottom: 0;
}
    
/*text decration
---------------------------------------------------*/
.txtblue,
.txtred{
    margin: 0 2px;
    font-weight: bold;
}

.txtblue {
    color: #0066CC;
}

.txtred{
    color:#FF0000;
}

.txtblue img,
.txtred img,
.txtbtn img{
    vertical-align:middle;
    margin-right:3px;
}

.txtbtn{
    margin:0 3px 2px 3px;
    padding:2px 6px;
    border: 1px solid #999999;
    background-color: #EEEEEE;
    display:inline-block;
}

/* Home page --------------------------------------*/
.top-title {
    background: #d0324b;
}

/* -------------------------------------- End of Home page */

/* Search page ---------------------------------*/
.search-button {
    background-color: #d0324b;
}
.search-button:hover {
    background-color: #d98c98;
}
.search-words {
    border-color: #d0324b;
}
/* -------------------------------------- End of Search opage */

/* 404 page */
.nftitle {
    background-image: none;
    background-color: #d0324b;
}


@media only screen and (min-width: 768px) {
    .logo-wrap {
        width: 350px;
    }

    .header .search-wrap {
        width: calc(100% - 200px);
        right: 0;
    }
    
    .g-col {
        width: 25%;
    }
    
    .subnavi {
        padding-bottom: 100px;
    }
}

/* 1059px以上の設定  *************************************************************/
@media only screen and (min-width:1059px) {
    .col-tile-gr {
        width: 18%;
    }
}
