.backdrop {
    background-color: #ffffff;
}

.main {
    width: 100%;
    max-width: 100%;
}

.article .wrapper {
    width: 100%;
    max-width: 100%;
}

.article {
    width: 100%;
    margin-left: 0;
}

.pagination .next {
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
    text-align: center;
    justify-content: center;
}

.hero-logo {
    height: 44px;
}

/* Flexbox */
.col-flex {
  display: -webkit-box;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.col-tile {
  margin: 0 0 16px;
  padding: .9375rem;
  width: 100%;
  height: 223px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
}

.tile-left {
    position: relative;
    width: 50%;
    height:100%;
    float: left;
}

.tile-title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
}

.tile-link {
    position: absolute;
    bottom: 20px;
}

.tile-right {
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
}

.tile-base {
}

.tile-img {
  position: absolute;
  bottom: 0px;
  max-height: 200px;
  max-width: 160px;
}

.fa-file-pdf-o {
  color: #CB0606;
  padding-right: .4em;
}

.col-topics {
    height: 100%;
    min-height: 223px;
}
.article ol,.article p,.article ul {
    margin-top: 0
}

.hotArticle {
  color: #0d89a2;
  padding: .1em 1px;
  line-height: 1.5em;
  padding-top: 0px;
}
#hotArticles-showMore {
  padding: 2px;
  text-align: center;
  cursor: pointer;
  color: #139cb7;
  margin-top: 14px;
}
#hotArticles-showMore:hover {
  background: #ECEAF7;
}
#hotArticles-showMore.closed{ 
    transform: rotate(0deg);
} 

#hotArticles-showMore.expand{ 
    transform: rotate(180deg);
} 

@media only screen and (max-width:850px) {
  .hero{
    display: none
  }
  
  .article .wrapper {

  }
}

@media only screen and (min-width:500px) {
}


@media only screen and (min-width:500px) {
.col-tile {
  width: 46.8%;
  margin: 0 1.6% 16px;
}
}

@media only screen and (min-width:850px) {
.col-tile {
  margin: 0 .8% 16px;
  width: 31.7%;
}
}
