@page { 
    /*size: A4;*/
    size: 215mm 297mm;
    margin: 18mm 15mm 16mm 15mm;
}

@page :left {  /* left page setting */
  @top-left {
    content: string(Section);
    margin-top: 20px;
    margin-bottom: 25px;
    border-bottom: solid 2px #000;
  }
  @bottom-right {
    content: string(title);
    margin-bottom: 25px;
    margin-top: 10px;
    border-top: solid 2px #000;
  }
  @bottom-left {
    content: counter(page);
    margin-bottom: 25px;
    margin-top: 10px;
	border-top: solid 2px #000;
  }
}
@page :right {  /* right page setting */
  @top-right {
    content: string(Content);
    margin-top: 20px;
    margin-bottom: 25px;
    border-bottom: solid 2px #000;
  }
  @bottom-left {
    margin-bottom: 25px;
    margin-top: 10px;
    border-top: solid 2px #000;
    content: string(title);
  }
  @bottom-right {
    content: counter(page);
    margin-bottom: 25px;
    margin-top: 10px;
    border-top: solid 2px #000;    
  }
}

@page :first {
  @top-right {
    content: none;
  }
  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}

@media print {
    .book_title {
        string-set: title content();
    }

    .section_title {
        page-break-before: avoid;
        string-set: Section content();
    }

    .content_title {
        string-set: Content content();
    }

    .index_title {
        string-set: Section content();
    }

    .item_title a::after {
        content: leader(dotted) " " target-counter(attr(href), page, decimal);
    }

	.chapter  {
        page-break-before: always;
    }
	
    .section {
        page-break-after: always;
    }

	.admonition-alt  {
        page-break-after: avoid;
    }
	
    h1 {
        page-break-before: avoid;
    }
	
    img {
        page-break-inside: avoid;
    }
	
    h1, h2, h3, h4, h5, h6, table tr:first-of-type, tbody tr:first-of-type {
        page-break-after: avoid;
    }

    .bm_1 {
      bookmark-level: 1;
      bookmark-state: closed;
    }

    .bm_2 {
      bookmark-level: 2;
      bookmark-state: closed;
    }

    .bm_3 {
      bookmark-level: 3;
      bookmark-state: closed;
    }

    .bm_4 {
      bookmark-level: 4;
      bookmark-state: closed;
    }
}

.book_title {
    font-size: 40px;
    line-height: 1.3em;
    margin-top: 50%;
    text-align:center;
}

.sub_title {
    font-size: 30px;
}

.trademark {
    margin-top: 90%;
}

.trademark h1 {
    font-size: 20px;
}

.trademark li {
    padding-left: 14px;
}

.index_title {
    font-size: 20px;
}

.index li {
    margin-left: 20px;
}

.item_title {
    font-size: 14px;
}

.article h1 {
    font-size: 160%;
    padding-top: 0px;
}

.article h2 {
    font-size: 150%;
    font-weight: bold;
}

img {
  max-width: 92%!important;
  max-height: 855px;
}

td img {
  max-width: 400px!important;
}

.imprint {
  page-break-before: always;
  margin-top: 220mm;
  padding: 40px;
}

