[v-cloak] {
  display:none;
}

.header {
    height: 56px;
}

.header .wrapper {
    justify-content: space-between;
}
.header::before {
    top: 52px;
}

body { overflow-y: scroll; }

.g-nav {
    margin: 0 auto 0;
}

.page {
    flex-direction: column;
}

.main {
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    max-width: 1200px;
    width: 100%;
  }

.contents-wrap {
    width: 100%;
    min-width: 320px;
    padding-bottom: 10px;
    margin-top: 8px;
}

.search-result {
    margin-left: 0;
    width: 100%;
}

.search-result h1 {
    line-height: 1.2em;
    margin-bottom: 30px;
    padding-top: 3rem;
    font-size: 1.8em;
    font-weight: 700;
}

.search-result a {
    color: #0d7b91;
    text-decoration: underline;
    line-height: 1.5em;
}

.search-result .wrapper {
    padding-right: 0;
    padding-left: 0;
}

.subnavi {
    width: 100%;
    padding-left: 24px;
    padding-bottom: 100px;
}
.subnavimsg {
    padding-right: 10px;
    font-size: .9em;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.subnavibtn {
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.subnavianc {
    border: 1px solid #e5e5e5;
    display: block;
    text-align: center;
    border-radius: 4px;
    max-width: 32em;
    text-decoration: none;
    color: #0d89a2;
}
.subnavianc h4 {
    font-size: 16px;
    margin-bottom: .4em;
}
.subnavianc i {
    font-size: 2.4em;
}
.fa-envelope-o {
    display: block;
    font-size: 40px;
    padding-bottom: 17px;
    color: #0d89a2;
}
.fa-envelope {
    display: block;
    font-size: 40px;
    color: #0d89a2;
}

.subnavi2-title {
    font-size: 1em;
}
.subnavi2-msg {
    padding-left: 40px;
    padding-right: 20px;
    font-size: .8em;
}
.subnavi2-icon {
    font-size: 2em;
    margin-right: 0;
    vertical-align: -.2em;
}

.fa-search {
    color: #ffffff;
}

.search-part {
    display: flex;
    height: 60px;
    white-space: nowrap;
    margin: 0 auto 0 auto;
    padding: .4rem;
}

.search-button {
    font-size: 1rem;
    padding: 0 1rem;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    color: #eee;
    background-color: #0d89a2;
}
.search-button-label {
    color: #fff;
    display: none;
}
.search-button:hover {
    background-color: #acacac;
}
.search-button:disabled {
    cursor: wait;
    filter: opacity(20%);
}
.button-clicked {
    cursor: wait;
    filter: opacity(20%);
}

.search-words {
    width: 100%;
    padding: 0 15px;
    border: 2px solid #ddd;
}
.search-words:disabled {
    cursor: wait;
    background-color: #eee;
}
.search-logo {
    text-align: right;
    margin: 0 auto 0 auto;
    padding: .4rem;
}
.search-logo a {
    white-space: nowrap;
}

.category-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.category-bar input[type=radio]{
    display: none;
}
.ctab {
    white-space: nowrap;
    padding-right: 5px;
    padding-top: 20px;
}
.category-tab + label {
    color: #333;
    background-color: #ddd;
    border-radius: 6px;
    padding: 4px 12px 4px 12px;
    cursor: pointer;
    transition: .2s linear;
}

.category-tab:checked + label{
    color: #eee;
    background-color: #666;
}

.category-tab:hover + label{
    color: #1d72cd;
    background-color: #aaa;
}

.partition {
    margin-bottom: 20px;
}

.item-total {
    font-size: .8em;
    padding: 10px 4px 10px 4px;
    margin: 0px 0 10px 0;
    color: #676767;
}
.current-position {
    padding-left: 10px;
}

.errmsg {
    margin-top:20px;
    color: #ff0000;
    padding-left: 10px;
}

.result {
    margin-top: 10px;
}

.items {
    font-size: .9em;
    padding: 10px 0 10px 0;
}

.items b {
    background-color: #fafab8;
}

.item-title {
    font-size: 1.4em;
    text-decoration: underline;
    color: #1155CC;
    overflow: hidden;
    font-weight: normal;
}

.item-url {
    font-family: arial, sans-serif;
    padding-bottom: 2px;
    color: #009933;
}

.item-snippet {
    color: #444444;
}

.page-navigation {
    padding-top: 20px;
    white-space: nowrap;
}

.page-index {
    padding: 5px 10px 5px 10px;
    margin-right: 4px;
    cursor: pointer;
    color: #333;
    background-color: #ddd;
    border: solid 1px #eee;
    border-radius: 4px;
    transition: .2s linear;
}
.page-index:hover {
    color: #fff;
    background-color: #aaa;
}
.page-index:disabled {
    cursor: default;
    color: #aaa;
    background-color: #fff;
}
.page-index .fas {
    color: #777;
}
.page-arrow {
    padding: 5px;
}

.current-page {
    cursor: default;
    color: #fff;
    background-color: #666;
    border: solid 1px #bbb;
}
.current-page:hover {
    color: #fff;
    background-color: #666;
}

.searching {
    cursor: wait;
}

.nodisp {
    display: none;
}

/* 768px以上の設定 *****************************************************/
@media only screen and (min-width:768px){
    .search-part {
        width: 600px;
    }
    .search-button {
        width: 90px;
    }
    .search-label {
        display: inline-block;
        padding-left: 10px;
    }
    .search-words {
        width: 496px;
    }
    .search-logo {
        width: 600px;
    }
    .search-result {
        padding-bottom: 100px;
    }
}

/* 960px以上の設定 *****************************************************/
@media screen and (min-width: 960px) {
    .contents-wrap {
        width: calc(100% - 300px);
    }

    .page {
        flex-direction: row;
    }

    .article h1 {
        font-size: 2.4em;
    }

    .subnavi {
        float: right;
        background: #fff;
        width: 310px;
        padding-left: 24px;
        padding-top: 60px;
        border-left: 1px solid #e6e6e6;
    }
    .subnavianc {
        margin: 24px 0;
        padding: 16px;
    }
    .fa-envelope {
        padding-bottom: 17px;
    }
}
