<!DOCTYPE html>
{{- $buildnum := (now.Format "2006010203") }}
<html lang="{{.Site.LanguageCode}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="robots" content="noindex,nofollow">
    <meta name="document-title" content="{{ partial "title" . }}"/>
    <meta name="author" content="{{ .Params.company }}"/>
    <meta name="copyright-status" content="Copyrighted"/>
    <meta name="copyright-notice" content="© Cybozu"/>
    <meta name="pagemode" content="UseOutlines"/>
    <meta name="pagelayout" content="SinglePage"/>
    <meta name="displaydoctitle" content="true"/>

    <link rel="stylesheet" href="https://js.cybozu.com/font-awesome/v4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/application.css" $buildnum | relURL }}">
    {{- with .Site.Params.custom_css }}
        {{- $files := split . "," }}
        {{- range $files }}
    <link rel="stylesheet" href="{{ printf "%s?%s" . $buildnum | relURL }}">
        {{- end }}
    {{- end}}
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/print.css" $buildnum | relURL }}">

    <!-- language resource depended styles -->
    <style>
    @media print {
        .pageref::after {
          content: "(" target-counter(attr(href), page, decimal) "{{ .Params.page }})";
        }
    }
    </style>

    <title>{{ partial "title" . }}</title>
  </head>
  <body class="font-{{.Lang}}">
        <div class="section">
            <div class="book-title">
            {{ partial "title" . }}
                <div class="sub-title">
                {{ .Params.version }}
                </div>
            </div>
        </div>

        <div class="section">
            <div class="trademark">
            {{ .Content }}
            </div>
        </div>

        <!-- Index -->
        {{- $entries := $.Site.Home.Sections -}}
        {{- $.Scratch.Set "sectList" (slice) -}}
        {{- $.Scratch.Set "sectStr" "" -}}

        <div class="indexes section">
            <h1 class="index-title bm-1">{{.Params.index}}</h1>
            <ul>
            {{- range $entries.ByWeight -}}
                <!-- $.Params.weight = weight of the print page -->
                <!-- .Params.weight = weight of _index.md -->
                {{- if eq $.Params.weight .Params.weight -}}
                    {{- template "indexes" (dict "curnode" . "parent" $) -}}
                {{- end -}}
            {{- end -}}
            </ul>
        </div>

        <!-- Contents -->
        {{- $.Scratch.Set "sectList" (slice) -}}
        {{- $.Scratch.Set "sectStr" "" -}}
        <main id="main">
            {{- range $entries.ByWeight -}}
                <!-- $.Params.weight = weight of the print page -->
                <!-- .Params.weight = weight of _index.md -->
                {{- if eq $.Params.weight .Params.weight -}}
                    {{- template "maincontent" (dict "curnode" . "parent" $) -}}
                {{- end -}}
            {{- end -}}
        </main>

        <!-- imprint -->
        <div class="section">
            <h1 class="content-title"></h1>
            <div class="imprint">
            {{- if ne .Params.issuedate "" -}}
                <div>{{ .Params.issue }}:{{ .Params.issuedate }}</div>
            {{- end -}}
            {{- if ne .Params.updatedate "" -}}
                <div>{{ .Params.update }}:{{ .Params.updatedate }}</div>
            {{- end -}}
                <div>© Cybozu</div>
            </div>
        </div>
  </body>
</html>

<!-- make the section string from the section slice -->
{{- define "updatesectstr" -}}
    {{- $sectList := (.Scratch.Get "sectList") -}}
    {{- $cur := 0 -}}

    {{- if eq (len $sectList) 1 -}}
        {{- $sectnum := 1 -}}
        {{- range $sectList -}}
            {{- $sectnum = . -}}
        {{- end -}}
        {{- $sect := (printf "%s %d %s" .Params.chapter1 $sectnum .Params.chapter2 ) -}}
        {{- $.Scratch.Set "sectStr" $sect -}}
    {{- else -}}
        {{- .Scratch.Set "sectStr" "" -}}
        {{- range $sectList -}}
            {{- $ss := ($.Scratch.Get "sectStr") -}}
            {{- $sect := "" -}}
            {{- if eq $ss nil -}}
                {{- $sect = (printf "%d." .) -}}
            {{- else -}}
                {{- $sect = (printf "%s%d." $ss .) -}}
            {{- end -}}
            {{- $.Scratch.Set "sectStr" $sect -}}
            {{- $cur = (add $cur 1) -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

<!-- remove the last item of the section slice -->
{{- define "parentsection" -}}
    {{- $sectList := (.Scratch.Get "sectList") -}}
    {{- $sllen := 0 -}}
    {{- if ne $sectList nil -}}
       {{ $sllen = (len $sectList) -}}
    {{- end -}}

    {{- $next := (slice) -}}
    {{- if gt $sllen 1 -}}
        {{- $sllen = (sub $sllen 1) -}}
        {{- $cur := 0 -}}
        {{- range $sectList -}}
            {{- $ent := . -}}
            {{- if lt $cur $sllen -}}
                {{- $next = $next | append $ent -}}
            {{- end -}}
            {{- $cur = (add $cur 1) -}}
        {{- end -}}
    {{- end -}}

    {{- .Scratch.Set "sectList" $next -}}
{{- end -}}

<!-- increment the last item of the section slice -->
{{- define "nextsection" -}}
    {{- $sectList := (.Scratch.Get "sectList") -}}

    {{- $next := (slice) -}}
    {{- if eq $sectList nil -}}
        {{- $next = (slice 1) -}}
    {{- else -}}
        {{- $sllen := (len $sectList) -}}
        {{- $cur := 1 -}}
        {{- range $sectList -}}
            {{- $ent := . -}}
            {{- if eq $cur $sllen -}}
                {{ $ent = (add $ent 1) -}}
            {{- end -}}
            {{- $next = $next | append $ent -}}
            {{- $cur = (add $cur 1) -}}
        {{- end -}}
    {{- end -}}

    {{- .Scratch.Set "sectList" $next -}}
{{- end -}}

<!-- index -->
{{- define "indexes" -}}
   {{- $curnode := .curnode -}}
   {{- $parent := .parent -}}

   {{- with $curnode -}}
        {{- if .IsSection -}}
            {{- $pages := .Pages -}}
            {{- $numberOfPages := (add (len $pages) (len .Sections)) -}}

            {{- if in .Params.disabled .Site.Params.TargetRegion -}}
            {{- else -}}

                <!-- make a section string -->
                {{- template "updatesectstr" $parent -}}
                {{- $sectStr := ($parent.Scratch.Get "sectStr") -}}
        <li>
                <!-- in case of the section string is empty, the title is not displayed -->
                {{- if ne $sectStr "" -}}
            <span class="item-title"> 
                <a class="indexref" href="#{{- anchorize .RelPermalink -}}">{{- $sectStr -}}&nbsp;{{- partial "title" . -}}</a>
            </span>
                {{- end -}}

                <!-- add a sub section （go down the section tree） -->
                {{- $sectList := ($parent.Scratch.Get "sectList") -}}
                {{- $sectList = $sectList | append 1 -}}
                {{- $parent.Scratch.Set "sectList" $sectList -}}

                {{- if ne $numberOfPages 0 -}}
            <ul class="index">
                    {{- if .Sections -}}
                        {{- .Scratch.Set "entries" (union $pages .Sections) -}}
                    {{- else -}}
                        {{- .Scratch.Set "entries" $pages -}}
                    {{- end -}}
                    {{- $entries := (.Scratch.Get "entries") -}}
                    {{- range $entries.ByWeight -}}
                        <!-- recursive call -->
                        {{- template "indexes" (dict "curnode" . "parent" $parent) -}}
                    {{- end -}}
            </ul>
                {{- end -}}

                <!-- remove a sub section(go up the section tree) -->
                {{- template "parentsection" $parent -}}

                <!-- increment the section number -->
                {{- template "nextsection" $parent -}}

        </li>
            {{- end -}}
        {{- else -}}
            {{- if in .Params.disabled .Site.Params.TargetRegion -}}
            {{- else -}}

                <!-- make a section string -->
                {{- template "updatesectstr" $parent -}}
                {{- $sectStr := ($parent.Scratch.Get "sectStr") -}}
            <li>
                <span class="item-title">
                    <a href="#{{- anchorize .RelPermalink -}}">{{- $sectStr -}}&nbsp;{{ partial "title" . -}}</a>
                </span>
            </li>

                <!-- increment the section number -->
                {{- template "nextsection" $parent -}}

            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

<!-- main contents -->
{{- define "maincontent" -}}
   {{- $curnode := .curnode -}}
   {{- $parent := .parent -}}

   {{- with $curnode -}}
        {{- if .IsSection -}}
            {{- $pages := .Pages -}}
            {{- $numberOfPages := (add (len $pages) (len .Sections)) -}}

            {{- if in .Params.disabled .Site.Params.TargetRegion -}}
            {{- else -}}
                {{- $sectList := ($parent.Scratch.Get "sectList") -}}

                <!-- make a section string -->
                {{- template "updatesectstr" $parent -}}
                {{- $sectStr := ($parent.Scratch.Get "sectStr") -}}

                <!-- in case of the section string is empty, the title is not displayed -->
                {{- if ne $sectStr "" -}}
                    {{- $chapter := "" -}}
                    {{- if eq (len $sectList) 1 -}}
                        <!-- At the top level section, add class of 'chapter'. -->
                        {{- $chapter = "chapter" -}}
                    {{- end -}}
            <h1 class="section-title {{ $chapter }} bm-{{ (len $sectList) }}" id="{{- anchorize .RelPermalink -}}"> 
                    {{- $sectStr -}}&nbsp;{{- partial "title" . -}}
            </h1>
                {{- end -}}

                <!-- add a sub section （go down the section tree） -->
                {{- $sectList = $sectList | append 1 -}}
                {{- $parent.Scratch.Set "sectList" $sectList -}}

                {{- if ne $numberOfPages 0 -}}
                    {{- if .Sections -}}
                        {{- .Scratch.Set "entries" (union $pages .Sections) -}}
                    {{- else -}}
                        {{- .Scratch.Set "entries" $pages -}}
                    {{- end -}}
                    {{- $entries := (.Scratch.Get "entries") -}}
                    {{- range $entries.ByWeight -}}
                        <!-- recursive call -->
                        {{- template "maincontent" (dict "curnode" . "parent" $parent) -}}
                    {{- end -}}
                {{- end -}}

                <!-- remove a sub section(go up the section tree) -->
                {{- template "parentsection" $parent -}}

                <!-- increment the section number -->
                {{- template "nextsection" $parent -}}

            {{- end -}}
        {{- else -}}
            {{- if in .Params.disabled .Site.Params.TargetRegion -}}
            {{- else -}}
                {{- $sectList := ($parent.Scratch.Get "sectList") -}}

                <!-- make a section string -->
                {{- template "updatesectstr" $parent -}}
                {{ $sectStr := ($parent.Scratch.Get "sectStr") }}

        <div class="article">
          <div class="wrapper">
                {{- $class := "content-title" -}}
                {{- $chapter := "" -}}
                {{- if eq (len $sectList) 1 -}}
                    <!-- At the top level section, add class of 'chapter'. -->
                    {{- $chapter = "chapter" -}}
                    {{- $class = "section-title" -}}
                {{- end -}}
                <h1 class="{{ $class }} {{ $chapter }} bm-{{ (len $sectList) }}" id="{{- anchorize .RelPermalink -}}">{{- $sectStr -}}&nbsp;{{- partial "title" . -}}</h1>

                {{/* - if .IsSection - */}}
                {{/* else */}}
                <div class="content-body">
                    {{- $cont := .Content -}}
                    <!-- make a collection of A tag -->
                    {{- $links := findRE "<a +href=\"[\\w!\\?/\\+\\-_~=;\\.,\\*&@#\\$%\\(\\)'\\[\\]]*\" *(target=\"_blank\")*>" $cont -}}

                    {{- $newurl := "" -}}
                    {{- $targeturl := "" -}}
                    <!-- Identify the URL to convert -->
                    {{- if eq $parent.Site.Params.product "kintone" -}}
                        {{- if eq $parent.Params.weight 100 -}}
                            {{- $targeturl = (printf "/k/%s/user" .Language) -}}
                        {{- else if eq $parent.Params.weight 200 -}}
                            {{- $targeturl = (printf "/k/%s/admin" .Language) -}}
                        {{- else if eq $parent.Params.weight 300 -}}
                            {{- $targeturl = (printf "/k/%s/utility" .Language) -}}
                        {{- else if eq $parent.Params.weight 400 -}}
                            {{- $targeturl = (printf "/k/%s/trouble_shooting" .Language) -}}
                        {{- end -}}
                    {{- else if eq $parent.Site.Params.product "slash" -}}
                        {{- if eq $parent.Params.weight 100 -}}
                            {{- $targeturl = (printf "/general/%s/admin" .Language) -}}
                        {{- else if eq $parent.Params.weight 200 -}}
                            {{- $targeturl = (printf "/general/%s/user" .Language) -}}
                        {{- else if eq $parent.Params.weight 300 -}}
                            {{- $targeturl = (printf "/general/%s/login" .Language) -}}
                        {{- end -}}
                    {{- else if eq $parent.Site.Params.product "Garoon" -}}
                        {{- $prod := "g" }}
                        {{- if eq $parent.Site.Params.service_type_id "on-premise" }}
                            {{- $prod = "g5" }}
                        {{- end }}
                        {{- if eq $parent.Params.weight 200 -}}
                            {{- $targeturl = (printf "/%s/%s/admin" $prod .Language) -}}
                        {{- else if eq $parent.Params.weight 300 -}}
                            {{- $targeturl = (printf "/%s/%s/user" $prod .Language) -}}
                        {{- end -}}
                    {{- else if eq $parent.Site.Params.product "Mailwise" -}}
                        {{- $prod := "m" }}
                        {{- if eq $parent.Site.Params.service_type_id "on-premise" }}
                            {{- $prod = "mw5" }}
                        {{- end }}
                        {{- if eq $parent.Params.weight 200 -}}
                            {{- $targeturl = (printf "/%s/%s/admin" $prod .Language) -}}
                        {{- else if eq $parent.Params.weight 300 -}}
                            {{- $targeturl = (printf "/%s/%s/user" $prod .Language) -}}
                        {{- end -}}
                    {{- end -}}

                    {{- if ne $targeturl "" }}
                        {{- range $links -}}
                            <!-- retrieve URL string -->
                            {{- $url := replaceRE "<a +href=\"" "" . -}}
                            {{- $url = replaceRE "\".*>$" "" $url -}}

                            <!-- class of a tag -->
                            {{- $aclass := "" -}}

                            {{- if hasPrefix $url "#" -}}
                                <!-- in case of the url is a anchor, do nothing -->
                                {{- $newurl = $url -}}
                            {{- else if (findRE $targeturl .) -}}
                                    <!-- convert to the same page anchor -->
                                    {{- $part := split $url "#" -}}
                                    {{- if gt (len $part) 1 -}}
                                       <!-- in case of the link is 'url#id', remove 'url' and do not execute anchorize function -->
                                       {{- range $part -}}
                                          {{- $url = . -}}
                                       {{- end -}}
                                    {{- else -}}
                                       {{- $url = (anchorize $url) -}}
                                    {{- end -}}

                                    <!-- execute escape processing for anchor -->
                                    {{- $newurl = (printf "#%s" $url) -}}
                                    {{- $aclass = " class=\"pageref\"" -}}
                            {{- else -}}
                                    <!-- links for outer page are modified FQDN link -->
                                    {{- $newurl = (printf "https://jp.cybozu.help%s" $url) -}}
                            {{- end -}}

                            <!-- replace with the converted string -->
                            {{- $ank := (printf "<a%s href=\"%s\">" $aclass $newurl) -}}
                            {{- $cont = replaceRE . $ank $cont -}}
                        {{- end -}}
                    {{- end -}}

                    {{- $cont | safeHTML -}}
                </div><!-- close content-body -->
                {{/* - end - */}}

                <!-- increment the section number -->
                {{template "nextsection" $parent}}
          </div><!-- close wrapper -->
        </div><!-- close article -->
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}