<!DOCTYPE html>
{{- $buildnum := (now.Format "2006010203") }}
<html lang="{{.Site.LanguageCode}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="robots" content="noindex,nofollow">
    <meta name="document-title" content="{{ partial "title" . }} {{ .Params.title2 }} {{ .Params.title3 }}"/>
    <meta name="author" content="{{ .Params.company }}"/>
    <meta name="copyright-status" content="Copyrighted"/>
    <meta name="copyright-notice" content="© Cybozu"/>
    <meta name="pagemode" content="UseOutlines"/>
    <meta name="pagelayout" content="SinglePage"/>
    <meta name="displaydoctitle" content="true"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/application.css" $buildnum | relURL }}">
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/print.css" $buildnum | relURL }}">
    {{- with .Site.Params.custom_css }}
        {{- $files := split . "," }}
        {{- range $files }}
    <link rel="stylesheet" href="{{ printf "%s?%s" . $buildnum | relURL }}">
        {{- end }}
    {{- end}}

    <!-- language resource depended styles -->
    <style>
    @media print {
        .pageref::after {
          content: "(" target-counter(attr(href), page, decimal) "{{ .Params.page }})";
        }
    }
    </style>

    <title>{{ partial "title" . }} {{ .Params.title2 }} {{ .Params.title3 }}</title>
  </head>
  <body class="font-{{.Lang}}">
        <div class="section">
            <div class="book-title">
                {{ partial "title" . }}
                <div class="book-title2">{{ .Params.title2 }}</div>
                <div class="book-title3">{{ .Params.title3 }}</div>
                <div class="sub-title">{{ .Params.version }}</div>
            </div>
        </div>

        <div class="section">
            <div class="trademark">
            {{ .Content }}
            </div>
        </div>

        <!-- Index -->
        {{- $entries := $.Site.Home.Sections -}}
        {{- $.Scratch.Set "sectList" (slice) -}}
        {{- $.Scratch.Set "sectStr" "" -}}

        <div class="indexes section">
            <h1 class="index-title bm-1">{{.Params.index}}</h1>
            <ul>
            {{- range $entries.ByWeight -}}
                <!-- $.Params.weight = weight of the print page -->
                <!-- .Params.weight = weight of _index.md -->
                {{- if eq $.Params.weight .Params.weight -}}
                    {{- template "indexes" (dict "curnode" . "parent" $) -}}
                {{- end -}}
            {{- end -}}
            </ul>
        </div>

        <!-- Contents -->
        {{- $.Scratch.Set "sectList" (slice) -}}
        {{- $.Scratch.Set "sectStr" "" -}}
        <main id="main">
            {{- range $entries.ByWeight -}}
                <!-- $.Params.weight = weight of the print page -->
                <!-- .Params.weight = weight of _index.md -->
                {{- if eq $.Params.weight .Params.weight -}}
                    {{- template "maincontent" (dict "curnode" . "parent" $) -}}
                {{- end -}}
            {{- end -}}
        </main>

        <!-- imprint -->
        <div class="section">
            <h1 class="content-title"></h1>
            <div class="imprint">
            {{- if ne .Params.issuedate "" -}}
                <div>{{ .Params.issue }}:{{ .Params.issuedate }}</div>
            {{- end -}}
            {{- if ne .Params.updatedate "" -}}
                <div>{{ .Params.update }}:{{ .Params.updatedate }}</div>
            {{- end -}}
                <div>© Cybozu</div>
            </div>
        </div>
  </body>
</html>

<!-- make the section string from the section slice -->
{{- define "updatesectstr" -}}
    {{- $sectList := (.Scratch.Get "sectList") -}}
    {{- $cur := 0 -}}

    {{- if eq (len $sectList) 1 -}}
        {{- $sectnum := 1 -}}
        {{- range $sectList -}}
            {{- $sectnum = . -}}
        {{- end -}}
        {{- $sect := (printf "%s %d %s" .Params.chapter1 $sectnum .Params.chapter2 ) -}}
        {{- $.Scratch.Set "sectStr" $sect -}}
    {{- else -}}
        {{- .Scratch.Set "sectStr" "" -}}
        {{- range $sectList -}}
            {{- $ss := ($.Scratch.Get "sectStr") -}}
            {{- $sect := "" -}}
            {{- if eq $ss nil -}}
                {{- $sect = (printf "%d." .) -}}
            {{- else -}}
                {{- $sect = (printf "%s%d." $ss .) -}}
            {{- end -}}
            {{- $.Scratch.Set "sectStr" $sect -}}
            {{- $cur = (add $cur 1) -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

<!-- remove the last item of the section slice -->
{{- define "parentsection" -}}
    {{- $sectList := (.Scratch.Get "sectList") -}}
    {{- $sllen := 0 -}}
    {{- if ne $sectList nil -}}
       {{ $sllen = (len $sectList) -}}
    {{- end -}}

    {{- $next := (slice) -}}
    {{- if gt $sllen 1 -}}
        {{- $sllen = (sub $sllen 1) -}}
        {{- $cur := 0 -}}
        {{- range $sectList -}}
            {{- $ent := . -}}
            {{- if lt $cur $sllen -}}
                {{- $next = $next | append $ent -}}
            {{- end -}}
            {{- $cur = (add $cur 1) -}}
        {{- end -}}
    {{- end -}}

    {{- .Scratch.Set "sectList" $next -}}
{{- end -}}

<!-- increment the last item of the section slice -->
{{- define "nextsection" -}}
    {{- $sectList := (.Scratch.Get "sectList") -}}

    {{- $next := (slice) -}}
    {{- if eq $sectList nil -}}
        {{- $next = (slice 1) -}}
    {{- else -}}
        {{- $sllen := (len $sectList) -}}
        {{- $cur := 1 -}}
        {{- range $sectList -}}
            {{- $ent := . -}}
            {{- if eq $cur $sllen -}}
                {{ $ent = (add $ent 1) -}}
            {{- end -}}
            {{- $next = $next | append $ent -}}
            {{- $cur = (add $cur 1) -}}
        {{- end -}}
    {{- end -}}

    {{- .Scratch.Set "sectList" $next -}}
{{- end -}}

<!-- index -->
{{- define "indexes" -}}
   {{- $curnode := .curnode -}}
   {{- $parent := .parent -}}

   {{- with $curnode -}}
        {{- if .IsSection -}}
            {{- $pages := .Pages -}}
            {{- $numberOfPages := (add (len $pages) (len .Sections)) -}}

            {{- if in .Params.disabled .Site.Params.TargetRegion -}}
            {{- else -}}

                <!-- make a section string -->
                {{- template "updatesectstr" $parent -}}
                {{- $sectStr := ($parent.Scratch.Get "sectStr") -}}
        <li>
                <!-- in case of the section string is empty, the title is not displayed -->
                {{- if ne $sectStr "" -}}
            <span class="item-title">
                <a class="indexref" href="#{{- anchorize .RelPermalink -}}">{{- $sectStr -}}&nbsp;{{- partial "title" . -}}</a>
            </span>
                {{- end -}}

                <!-- add a sub section （go down the section tree） -->
                {{- $sectList := ($parent.Scratch.Get "sectList") -}}
                {{- $sectList = $sectList | append 1 -}}
                {{- $parent.Scratch.Set "sectList" $sectList -}}

                {{- if ne $numberOfPages 0 -}}
            <ul class="index">
                    {{- if .Sections -}}
                        {{- .Scratch.Set "entries" (union $pages .Sections) -}}
                    {{- else -}}
                        {{- .Scratch.Set "entries" $pages -}}
                    {{- end -}}
                    {{- $entries := (.Scratch.Get "entries") -}}
                    {{- range $entries.ByWeight -}}
                        <!-- recursive call -->
                        {{- template "indexes" (dict "curnode" . "parent" $parent) -}}
                    {{- end -}}
            </ul>
                {{- end -}}

                <!-- remove a sub section(go up the section tree) -->
                {{- template "parentsection" $parent -}}

                <!-- increment the section number -->
                {{- template "nextsection" $parent -}}

        </li>
            {{- end -}}
        {{- else -}}
            {{- if or ( in .Params.disabled .Site.Params.TargetRegion ) ( eq .Type "redirect_js" ) -}}
            {{- else -}}

                <!-- make a section string -->
                {{- template "updatesectstr" $parent -}}
                {{- $sectStr := ($parent.Scratch.Get "sectStr") -}}
            <li>
                <span class="item-title">
                    <a href="#{{- anchorize .RelPermalink -}}">{{- $sectStr -}}&nbsp;{{ partial "title" . -}}</a>
                </span>
            </li>

                <!-- increment the section number -->
                {{- template "nextsection" $parent -}}

            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

<!-- main contents -->
{{- define "maincontent" -}}
   {{- $curnode := .curnode -}}
   {{- $parent := .parent -}}

   {{- $product := $parent.Site.Params.product -}}
   {{- with $parent.Site.Params.sub_product }}
        <!-- prefer using sub_product -->
        {{ $product = . }}
   {{- end }}

   {{- $baseParts := split $parent.Site.BaseURL "/" }}
   {{- $productId := index $baseParts (sub (len $baseParts) 2) }}

   {{- with $curnode -}}
        {{- if .IsSection -}}
            {{- $pages := .Pages -}}
            {{- $numberOfPages := (add (len $pages) (len .Sections)) -}}

            {{- if in .Params.disabled .Site.Params.TargetRegion -}}
            {{- else -}}
                {{- $sectList := ($parent.Scratch.Get "sectList") -}}

                <!-- make a section string -->
                {{- template "updatesectstr" $parent -}}
                {{- $sectStr := ($parent.Scratch.Get "sectStr") -}}

                <!-- body -->
                {{- $title := partial "title" . -}}
                {{- template "contentbody" (dict "sectList" $sectList "sectStr" $sectStr "content" .Content "product" $product "productId" $productId "weight" $parent.Params.weight "ancid" .RelPermalink "title" $title "lang" .Language) }}

                <!-- add a sub section （go down the section tree） -->
                {{- $sectList = $sectList | append 1 -}}
                {{- $parent.Scratch.Set "sectList" $sectList -}}

                {{- if ne $numberOfPages 0 -}}
                    {{- if .Sections -}}
                        {{- .Scratch.Set "entries" (union $pages .Sections) -}}
                    {{- else -}}
                        {{- .Scratch.Set "entries" $pages -}}
                    {{- end -}}
                    {{- $entries := (.Scratch.Get "entries") -}}
                    {{- range $entries.ByWeight -}}
                        <!-- recursive call -->
                        {{- template "maincontent" (dict "curnode" . "parent" $parent) -}}
                    {{- end -}}
                {{- end -}}

                <!-- remove a sub section(go up the section tree) -->
                {{- template "parentsection" $parent -}}

                <!-- increment the section number -->
                {{- template "nextsection" $parent -}}

            {{- end -}}
        {{- else -}}
            {{- if or ( in .Params.disabled .Site.Params.TargetRegion ) ( eq .Type "redirect_js" ) -}}
            {{- else -}}
                {{- $sectList := ($parent.Scratch.Get "sectList") -}}

                <!-- make a section string -->
                {{- template "updatesectstr" $parent -}}
                {{- $sectStr := ($parent.Scratch.Get "sectStr") -}}

                <!-- body -->
                {{- $title := partial "title" . -}}
                {{- template "contentbody" (dict "sectList" $sectList "sectStr" $sectStr "content" .Content "product" $product "productId" $productId "weight" $parent.Params.weight "ancid" .RelPermalink "title" $title "lang" .Language) }}

                <!-- increment the section number -->
                {{- template "nextsection" $parent -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

<!-- content body -->
{{- define "contentbody" -}}
    {{- $sectList := .sectList -}}
    {{- $sectStr := .sectStr -}}
    {{- $cont := .content -}}
    {{- $product := .product -}}
    {{- $productId := .productId -}}
    {{- $title := .title -}}
    {{- $weight := .weight -}}
    {{- $ancid := .ancid -}}
    {{- $lang := .lang -}}

    {{- if ne $sectStr "" -}}
    <div class="article">
        <div class="wrapper">

        <!-- in case of the section string is empty, the title is not displayed -->
        {{- if ne $sectStr "" -}}
            {{- $class := "content-title" -}}
            {{- $chapter := "" -}}
            {{- if eq (len $sectList) 1 -}}
                <!-- At the top level section, add class of 'chapter'. -->
                {{- $chapter = "chapter" -}}
                {{- $class = "section-title" -}}
            {{- end -}}
                <h1 class="{{ $class }} {{ $chapter }} bm-{{ (len $sectList) }}" id="{{- anchorize $ancid -}}">{{- $sectStr -}}&nbsp;{{- $title -}}</h1>
        {{- end -}}

        {{- if ne $cont "" }}
                <div class="content-body">
                    <!-- make a collection of A tag -->
                    {{- $links := findRE "<a +href=\"[\\w!\\?/\\+\\-_~=;\\.,\\*&@#\\$%\\(\\)'\\[\\]]*\" *(target=\"_blank\")*>" $cont -}}

                    {{- $newurl := "" -}}
                    {{- $targeturl := "" -}}
                    <!-- Identify the URL to convert -->
                    {{- if eq $product "kintone" -}}
                        {{- if eq $weight 1100 -}}
                            {{- $targeturl = (printf "/k/%s/admin" $lang) -}}
                        {{- else if eq $weight 300 -}}
                            {{- $targeturl = (printf "/k/%s/app" $lang) -}}
                        {{- else if eq $weight 200 -}}
                            {{- $targeturl = (printf "/k/%s/common_operation" $lang) -}}
                        {{- else if eq $weight 800 -}}
                            {{- $targeturl = (printf "/k/%s/guest" $lang) -}}
                        {{- else if eq $weight 1000 -}}
                            {{- $targeturl = (printf "/k/%s/message" $lang) -}}
                        {{- else if eq $weight 1300 -}}
                            {{- $targeturl = (printf "/k/%s/mobile_access" $lang) -}}
                        {{- else if eq $weight 500 -}}
                            {{- $targeturl = (printf "/k/%s/notifications" $lang) -}}
                        {{- else if eq $weight 900 -}}
                            {{- $targeturl = (printf "/k/%s/people" $lang) -}}
                        {{- else if eq $weight 600 -}}
                            {{- $targeturl = (printf "/k/%s/portal" $lang) -}}
                        {{- else if eq $weight 400 -}}
                            {{- $targeturl = (printf "/k/%s/search" $lang) -}}
                        {{- else if eq $weight 700 -}}
                            {{- $targeturl = (printf "/k/%s/space" $lang) -}}
                        {{- else if eq $weight 1500 -}}
                            {{- $targeturl = (printf "/k/%s/trouble_shooting" $lang) -}}
                        {{- else if eq $weight 1400 -}}
                            {{- $targeturl = (printf "/k/%s/utility" $lang) -}}
                        {{- end -}}
                    {{- else if eq $product "slash" -}}
                        {{- if eq $weight 100 -}}
                            {{- $targeturl = (printf "/general/%s/admin" $lang) -}}
                        {{- else if eq $weight 200 -}}
                            {{- $targeturl = (printf "/general/%s/user" $lang) -}}
                        {{- else if eq $weight 300 -}}
                            {{- $targeturl = (printf "/general/%s/login" $lang) -}}
                        {{- end -}}
                    {{- else if eq $product "Garoon" -}}
                        {{- if eq $weight 100 -}}
                            {{- $targeturl = (printf "/%s/%s/intro" $productId $lang) -}}
                        {{- else if eq $weight 200 -}}
                            {{- $targeturl = (printf "/%s/%s/admin" $productId $lang) -}}
                        {{- else if eq $weight 300 -}}
                            {{- $targeturl = (printf "/%s/%s/user" $productId $lang) -}}
                        {{- else if eq $weight 600 -}}
                            {{- $targeturl = (printf "/%s/%s/option" $productId $lang) -}}
                        {{- end -}}
                    {{- else if eq $product "Mailwise" -}}
                        {{- if eq $weight 100 -}}
                            {{- $targeturl = (printf "/%s/%s/intro" $productId $lang) -}}
                        {{- else if eq $weight 200 -}}
                            {{- $targeturl = (printf "/%s/%s/admin" $productId $lang) -}}
                        {{- else if eq $weight 300 -}}
                            {{- $targeturl = (printf "/%s/%s/user" $productId $lang) -}}
                        {{- else if eq $weight 400 -}}
                            {{- $targeturl = (printf "/%s/%s/option" $productId $lang) -}}
                        {{- end -}}
                    {{- else if eq $product "Remote" -}}
                        {{- if eq $weight 100 -}}
                            {{- $targeturl = (printf "/%s/%s/intro" $productId $lang) -}}
                        {{- else if eq $weight 200 -}}
                            {{- $targeturl = (printf "/%s/%s/admin" $productId $lang) -}}
                        {{- else if eq $weight 300 -}}
                            {{- $targeturl = (printf "/%s/%s/user" $productId $lang) -}}
                        {{- end -}}
                    {{- else if eq $product "Office" -}}
                        {{- if eq $weight 100 -}}
                            {{- $targeturl = (printf "/%s/%s/intro" $productId $lang) -}}
                        {{- else if eq $weight 200 -}}
                            {{- $targeturl = (printf "/%s/%s/admin" $productId $lang) -}}
                        {{- else if eq $weight 300 -}}
                            {{- $targeturl = (printf "/%s/%s/user" $productId $lang) -}}
                        {{- else if eq $weight 400 -}}
                            {{- $targeturl = (printf "/%s/%s/option" $productId $lang) -}}
                        {{- end -}}
                    {{- else if eq $product "cypn-docs" -}}
                        {{- if eq $weight 200 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/cloud_partner" $lang) -}}
                        {{- else if eq $weight 300 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/converter" $lang) -}}
                        {{- else if eq $weight 600 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/customapp" $lang) -}}
                        {{- else if eq $weight 100 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/db_distributed" $lang) -}}
                        {{- else if eq $weight 700 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/dezie" $lang) -}}
                        {{- else if eq $weight 1500 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/gr2tc_application" $lang) -}}
                        {{- else if eq $weight 1600 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/gr2tc_ldap" $lang) -}}
                        {{- else if eq $weight 400 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/grnmigration" $lang) -}}
                        {{- else if eq $weight 450 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/grnmigration_appendix" $lang) -}}
                        {{- else if eq $weight 500 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/groupmail" $lang) -}}
                        {{- else if eq $weight 1700 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/jmeter" $lang) -}}
                        {{- else if eq $weight 1100 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/ldapauth" $lang) -}}
                        {{- else if eq $weight 900 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/onlinebackup" $lang) -}}
                        {{- else if eq $weight 1300 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/openauth" $lang) -}}
                        {{- else if eq $weight 1400 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/password" $lang) -}}
                        {{- else if eq $weight 800 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/scalebench" $lang) -}}
                        {{- else if eq $weight 1000 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/trouble" $lang) -}}
                        {{- else if eq $weight 1200 -}}
                            {{- $targeturl = (printf "/cypn-docs/%s/windowsauth" $lang) -}}
                        {{- end -}}
                    {{- else if eq $product "kmso-beta" -}}
                        {{- if eq $weight 100 -}}
                            {{- $targeturl = (printf "/%s/%s/admin" $productId $lang) -}}
                        {{- end -}}
                    {{- else if eq $product "kep" -}}
                        {{- if eq $weight 100 -}}
                            {{- $targeturl = (printf "/%s/%s/kep1" $productId $lang) -}}
                        {{- end -}}
                        {{- if eq $weight 200 -}}
                            {{- $targeturl = (printf "/%s/%s/kep2" $productId $lang) -}}
                        {{- end -}}
                        {{- if eq $weight 400 -}}
                            {{- $targeturl = (printf "/%s/%s/kep4" $productId $lang) -}}
                        {{- end -}}
                        {{- if eq $weight 500 -}}
                            {{- $targeturl = (printf "/%s/%s/kep5" $productId $lang) -}}
                        {{- end -}}
                    {{- else if eq $product "kop" -}}
                        {{- if eq $weight 200 -}}
                            {{- $targeturl = (printf "/%s/%s/kop1/setup" $productId $lang) -}}
                        {{- end -}}
                        {{- if eq $weight 300 -}}
                            {{- $targeturl = (printf "/%s/%s/kop1/user" $productId $lang) -}}
                        {{- end -}}
                    {{- end -}}
                    {{- if ne $targeturl "" }}
                        {{- range $links -}}
                            <!-- retrieve URL string -->
                            {{- $url := replaceRE "<a +href=\"" "" . -}}
                            {{- $url = replaceRE "\".*>$" "" $url -}}

                            <!-- class of a tag -->
                            {{- $aclass := "" -}}

                            {{- if hasPrefix $url "#" -}}
                                <!-- in case of the url is a anchor, do nothing -->
                                {{- $newurl = $url -}}
                            {{- else if (findRE $targeturl .) -}}
                                    <!-- convert to the same page anchor -->
                                    {{- $part := split $url "#" -}}
                                    {{- if gt (len $part) 1 -}}
                                       <!-- in case of the link is 'url#id', remove 'url' and do not execute anchorize function -->
                                       {{- range $part -}}
                                          {{- $url = . -}}
                                       {{- end -}}
                                    {{- else -}}
                                       <!-- kop had deep path for preview site -->
                                       {{- if eq $product "kop"}}
                                          {{- $url = replaceRE "/kop1/" "/" $url -}}
                                       {{- end -}}
                                       {{- $url = (anchorize $url) -}}
                                    {{- end -}}

                                    <!-- execute escape processing for anchor -->
                                    {{- $newurl = (printf "#%s" $url) -}}
                                    {{- $aclass = " class=\"pageref\"" -}}
                            {{- else -}}
                                    <!-- links for outer page are modified FQDN link -->
                                    {{- $newurl = (printf "https://jp.cybozu.help%s" $url) -}}
                            {{- end -}}

                            <!-- replace with the converted string -->
                            {{- $ank := (printf "<a%s href=\"%s\">" $aclass $newurl) -}}
                            {{- $cont = replaceRE . $ank $cont -}}
                        {{- end -}}
                    {{- end -}}

                    {{- $cont | safeHTML -}}
                </div><!-- close content-body -->
        {{- end -}}

        </div><!-- close wrapper -->
    </div><!-- close article -->
    {{- end -}}
{{- end -}}
