{{- $anctxt := (anchorize .Text) }}
{{- $ancs := findRE $anctxt .Anchor }}
{{- $preanc := "" }}
{{- range first 1 $ancs}}
    {{- $preanc = .}}
{{- end}}
{{- if or (eq .Page.Site.Params.product "Garoon") (eq .Page.Site.Params.product "Mailwise") (eq .Page.Site.Params.product "Office") }}
    {{- if eq .Level 6 }}
        {{- if eq $preanc "" }}
<div class="adjustAnchor">
    <div class="h6-anc" id="{{.Anchor | safeURL}}">{{.Text | safeHTML}}</div>
</div>
        {{- else }}
<div class="h6-noanc">{{.Text | safeHTML}}</div>
        {{- end }}
    {{- else }}
        {{- $link := (printf "https://%s%s" .Page.Site.Params.domain .Page.RelPermalink) }}
        {{- if or (eq .Page.Site.Params.product "Mailwise") (in $link "/error.html") (gt .Level 2) (and (eq .Page.Site.Params.product "Office") (in $link "/error/") (gt .Level 2))}}
            {{- $link = "" }}
        {{- end }}
        {{- template "anchorlink" (dict "level" .Level "link" $link "id" .Anchor "title" .Text ) }}
    {{- end }}
{{- else if and (ne .Page.IsHome true) (ne .Page.Params.aliases nil) }}
    {{- template "anchorlink2" (dict "ti" . "link" .Page.RelPermalink "al" (index .Page.Params.aliases 0) "ids" .Page.Site.Params.id_search) }}
{{- else }}
<h{{.Level}} id="{{.Anchor | safeURL}}" pid="{{.Anchor | safeURL}}" role="heading">{{.Text | safeHTML }}</h{{.Level}}>
{{- end }}
