{{- $simple := "false" }}
{{- if and (eq .Page.Site.Params.product "Garoon") (in .Destination "/common/icon/") }}
    {{- $simple = "true" }}
{{- else if and (eq .Page.Site.Params.product "Mailwise") (in .Destination "/common/img/") }}
    {{- $simple = "true" }}
{{- else if (in .Destination "/img/") }}
    {{- $simple = "true" }}
{{- end }}
{{- if eq $simple "true" }}
<img src="{{.Destination | safeURL}}" alt="{{.Text}}" {{ with .Title}} title="{{ . }}"{{ end }} role="img" />
{{- else }}
<img class="screenshot" src="{{.Destination | safeURL}}" alt="{{.Text}}" {{ with .Title}} title="{{ . }}"{{ end }} data-action="zoom" role="img" />
{{- end }}