{{- $simple := "false" }}
{{- if and (eq .Page.Site.Params.product "Garoon") (in .Destination "/common/icon/") }}
    {{- $simple = "true" }}
{{- else if and (eq .Page.Site.Params.product "Mailwise") (eq .Page.Site.Params.product "Remote") }}
    {{- if in .Destination "/common/img/" }}
        {{- $simple = "true" }}
    {{- end }}
{{- else if eq .Page.Site.Params.product "Office" }}
    {{- if or (in .Destination "/common/img/") (in .Destination "/common/icon/") }}
        {{- $simple = "true" }}
    {{- end }}
{{- else if (in .Destination "/img/") }}
    {{- $simple = "true" }}
{{- end }}
{{- if eq $simple "true" }}
<img src="{{.Destination | safeURL}}" alt="{{ .Text | safeHTML }}" {{ with .Title}} title="{{ . }}"{{ end }} role="img" />
{{- else }}
<img class="screenshot" src="{{.Destination | safeURL}}" alt="{{ .Text | safeHTML }}" {{ with .Title}} title="{{ . }}"{{ end }} data-action="zoom" role="img" />
{{- end }}
