{{- if in .Params.disabled $.Site.Params.TargetRegion}}
<meta http-equiv="refresh" content="0; URL=/" />
{{- else}}
{{- partial "head" . }}
{{- partial "header" . }}
{{- if eq $.Site.Params.meganav true -}}
    {{ partial "meganav" . }}
{{- end -}}
<div id="page" class="page">
    <div id="tree" class="tree-wrap">
        {{- if in .RelPermalink "/pdf.html" }}
            {{- if and (eq $.Site.Params.product "Office") (eq $.Site.Params.service_type_id "on-premise") }}
                {{ partial "treenav" . }}
            {{- else }}
                {{ partial "treenav2" . }}
            {{- end }}
        {{- else }}
            {{ partial "treenav" . }}
        {{- end }}
    </div>
    <div id="contents" class="contents-wrap">
        {{- if and (eq $.Site.Params.product "Garoon") (ne $.Site.Params.languageCode "ja-jp") (ne $.Site.Params.languageCode "ja-cn") }}
            {{ partial "disclaimer" . }}
        {{- end }}
        <main id="main" role="main"> 
            {{- partial "breadcrumb" . -}}
            <article class="article">
                <h1>{{ partial "title" . }}</h1>
                {{ .Content }}
            </article>
            {{- if ne $.Site.Params.meganav true -}}
            <nav class="section-pagelist">
                <div class="section-pagelist-heading">{{ i18n "Articles_in_this_category" }}</div>
                {{- $pages := (.Pages | union .Sections) }}
                <ul>
                {{- range $pages.ByWeight }}
                    {{- if in .Params.disabled $.Site.Params.TargetRegion}}
                    {{- else}}
                    <li><a href="{{ .RelPermalink}}">{{safeHTML .Params.Pre}}{{ partial "title" . }}{{safeHTML .Params.Post}}</a></li>
                    {{- end}}
                {{- end}}
                </ul>
            </nav>
            {{- end }}
        </main>
    </div>

    {{- if ne $.Site.Params.meganav true -}}
    <div class="wrap_sidebar">
        <div id="sidebar-toc"></div>
    </div>
    {{- end }}
</div>
{{- partial "gototop" . }}
{{- partial "enquete" . -}}
{{- partial "footer" . }}
{{- if and (eq $.Site.Params.product "kintone") (eq $.Site.Params.TargetRegion "JP") }}{{ partial "yahootagmanager" . }}{{- end }}
{{- end }}
</body>
</html>