{{if in .Params.disabled $.Site.Params.TargetRegion}}
<meta http-equiv="refresh" content="0; URL='/' " />
{{else}}

{{ partial "head" . }}

<header class="header">
    {{ partial "header" . }}
</header>
<div class="main">
    <nav class="drawer">
        {{ partial "drawer" . }}
    </nav>
    <div class="article">
        <div class="wrapper">
            <nav class="breadcrumb">{{- partial "breadcrumb" . -}}</nav>
            <main>
                <article>
                    <h1>{{ partial "title" . }}</h1>
                    {{ .Content }}
                </article>
            </main>
            <nav class="seealso">
                {{ partial "related" .}}
            </nav>
            <nav class="nextpage">{{- partial "nextpage" . -}}</nav>
        </div>
        {{- partial "enquete" . -}}
    </div>
    <nav id="sidebar-toc">
    </nav>
</div>
<footer class="footer">
    {{ partial "footer" . }}
</footer>
{{end}}
</body>
</html>
