{{- if in .Params.disabled $.Site.Params.TargetRegion}}
<meta http-equiv="refresh" content="0; URL=/" />
{{- else}}
{{- partial "head" . }}
{{- partial "header" . }}
{{- if eq $.Site.Params.meganav true }}
    {{ partial "meganav" . }}
{{- end }}
<div class="page" >
    <div class="tree-wrap">
        {{ partial "treenav" . }}
    </div>
    <div class="contents-wrap">
        {{- if and (eq $.Site.Params.product "Garoon") (ne $.Site.Params.languageCode "ja-jp") (ne $.Site.Params.languageCode "ja-cn") }}
            {{ partial "disclaimer" . }}
        {{- end }}
        <main id="main" role="main">
            {{- partial "breadcrumb" . -}}
            <article class="article" role="article">
                <h1>{{ partial "title" . }}</h1>
                {{ .Content }}
            </article>
            {{- partial "related" .}}

            {{- if eq .Type "series" }}
                {{- partial "pagenav" .}}
            {{- end }}

        </main>
        {{- partial "enquete" . -}}
    </div>
    {{- if ne $.Site.Params.meganav true -}}
    <div class="sidebar-wrap">
        <nav id="rightside-bar">
            <h2 class="toc-title">{{ i18n "In_this_article" }}</h2>
        </nav>
    </div>
    {{- end }}
</div>
{{- partial "gototop" . }}
{{- partial "footer" . }}
{{- end }}
</body>
</html>
