{{- $product := $.Site.Params.product }}

{{- $targetregion := $.Site.Params.TargetRegion }}

{{- $regions := slice "JP" "US" "CN" }}
{{- $deflang := "en" }}
{{- if eq $targetregion "US" }}
    {{- $regions = slice "JP" "US" }}
{{- else if eq $targetregion "CN" }}
    {{- $regions = slice "JP" "CN" }}
{{- end }}

{{- if eq $product "Garoon" }}
    {{- $regions = slice "jp" "cn" }}
{{- else if eq $product "store" }}
    {{- $regions = slice "us" }}
{{- else if eq $product "store-jp" }}
    {{- $regions = slice "jp" }}
{{- end }}

{{- $disabled := .Params.disabled }}

{{- range $.AllTranslations }}
    {{- if eq .Lang $deflang }}
    <link rel="alternate" href="https://{{.Site.Params.domain}}{{.RelPermalink}}" hreflang="x-default" />
    {{- end }}
{{- end }}

{{- range $regions }}
    {{- if in $disabled . }}
    {{- else }}
        {{- $curregion := ( . | lower ) }}
        {{- $domain := "jp.cybozu.help" }}
        {{- if eq $curregion "us" }}
            {{- $domain = "get.kintone.help" }}
        {{- else if eq $curregion "cn" }}
            {{- $domain = "help.cybozu.cn" }}
        {{- end -}}

        {{- range $.AllTranslations }}
            {{- $disp := "true" }}
            {{- $thislang := .Lang }}
            {{- if eq $thislang "zh" }}
                {{- $thislang = "zh-Hans" }}
            {{- else if eq $thislang "zh-tw" }}
                {{- $thislang = "zh-Hant" }}
            {{- end -}}

            {{- if eq $curregion "cn" }}
                {{- if and (eq $product "Garoon") (eq $.Site.Params.service_type_id "on-premise") }}
                    {{- $disp = "false" }}
                {{- end }}
                {{- if eq .Lang "zh-tw" }}
                    {{- $disp = "false" }}
                {{- end }}
            {{- end -}}

            {{- if eq $disp "true" }}
                {{- $lang := (printf "%s-%s" $thislang $curregion) }}
    <link rel="alternate" href="https://{{$domain}}{{.RelPermalink}}" hreflang="{{$lang}}" />
            {{- end }}
        {{- end }}

        {{- if eq $curregion "us" }}
            {{- $urlParts := split $.RelPermalink "/" }}
            {{- $additionalLangs := index $.Site.Data "language_list" }}
            {{- range $additionalLangs.languages }}
                {{- $languageCode := .language_code }}
                {{- $idx := 0 }}
                {{- $newTarget := "" }}
                {{- $partsLen := $urlParts | len }}
                {{- range $urlParts }}
                    {{- if ne . "" }}
                        {{- if eq $idx 2 }}
                            {{- $newTarget = printf "%s/%s" $newTarget $languageCode }}
                            {{- if le $partsLen 4 }}
                                {{- $newTarget = printf "%s/" $newTarget }}
                            {{- end }}
                        {{- else }}
                            {{- $newTarget = printf "%s/%s" $newTarget . }}
                        {{- end }}
                    {{- end }}
                    {{- $idx = add $idx 1 }}
                {{- end }}
    <link rel="alternate" href="https://{{$domain}}{{$newTarget}}" hreflang="{{$languageCode}}" />
            {{- end }}
        {{- end }}

    {{- end }}
{{- end }}
