{{- define "anchorlink" }}
    {{- $level := .level }}
    {{- $link := .link }}
    {{- $id := .id }}
    {{- $title := .title }}
    <div class="adjustAnchor" id="{{$id}}">
        <h{{$level}} class="h{{$level}}-contents" pid="{{$id}}">{{$title | safeHTML}}</h{{$level}}>
    </div>
    {{- if le $level 5 }}
    <div class="heading-link">
        <button class="heading-button" tabindex="0" aria-owns="heading-url-{{$id}}" aria-expanded="false">
            <span>{{ i18n "Permalink" }}</span>
            <i class="fas fa-link" aria-hidden="true"></i>
        </button>
        <div id="heading-url-{{$id}}" class="heading-url" aria-hideen="true">
            <input readonly="readonly" value="{{ printf "%s#%s" $link $id | safeURL}}" name="headingUrl" type="text" onclick="this.focus(); this.select()">
        </div>
    </div>
    {{- end }}
{{- end }}