{{- define "anchorlink2" }}
    {{- $ti := .ti }}
    {{- if eq $ti.Level 2 }}
    <div class="section-delimiter"></div>
    {{- end }}
    <div class="id-header" id="{{$ti.Anchor}}">
        <h{{$ti.Level}} class="h{{$ti.Level}}-contents {{ $ti.Attributes.class }}" pid="{{$ti.Anchor}}">{{$ti.Text | safeHTML}}</h{{$ti.Level}}>
    {{- if .ids }}
        <button class="id-link-button " title="{{ i18n "Copy_perma_link" }}" idpath="{{.al}}" tabindex="0" aria-owns="message-{{$ti.Anchor}}" >
            <i class="fas fa-link" aria-hidden="true"></i>
        </button>
    {{- end }}
    </div>
    <div id="message-{{$ti.Anchor}}" class="id-link-message">{{ i18n "Link_was_copied" }}</div>
{{- end }}
