{{if eq .Lang "ja" }}
<aside id="enquete" style="display:none;">
  <form id="enqueteForm" name="enqueteForm" target="blankFrame" method="post">
    <div id="enqueteYesOrNoBtns">
      この記事は役に立ちましたか？
      <div class="btn_article_vote">
          <button class="btn_article_vote" id="feedback_yes" onclick='$.cookie("answered","{{ .Permalink | relURL }}", {path:"/",expires:1});'>
              <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-thumbs-up fa-stack-1x" aria-label="Yes"></i>
              </span>
          </button>
          <button class="btn_article_vote" id="feedback_no" onclick='$.cookie("answered","{{ .Permalink | relURL }}",{path:"/",expires:1});'>
              <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-thumbs-down fa-stack-1x" aria-label="No"></i>
              </span>
          </button>
      </div>
    </div>
  </form>
</aside>
<script src="{{ "javascripts/enquete.js?20200518" | relURL }}"></script>
<iframe name="blankFrame" width=0 height=0 style="visibility:hidden"></iframe> <!-- for questionnaire -->
{{ end }}
