{{if eq .Lang "ja" }}
<aside id="enquete" style="display:none;">
  <form id="enqueteForm" name="enqueteForm" target="blankFrame" method="post">
    <input type="hidden" name="questions[74180]" value="{{- partial "title" . -}}">
    <input type="hidden" name="questions[74181]" value="https://jp.cybozu.help{{ .Permalink | relURL }}">
    <input class="enqueteIpAddr" type="hidden" name="questions[74184]" value="">
    <input class="enqueteSubDomain" type="hidden" name="questions[74185]" value="">
    <input class="enqueteReferrer" type="hidden" name="questions[88367]" value="">
    <input class="enqueteKeyWords" type="hidden" name="questions[88366]" value="">
    <input id="enqueteRadio" type="hidden" name="questions[74183]" value="">

    <div id="enqueteYesOrNoBtns">
      この記事は役に立ちましたか？
      <div class="btn-article-vote">
          <a href="#" class="btn-article-vote-up" >
            <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-thumbs-up fa-stack-1x"></i>
            </span>
          </a>
          <a href="#" class="btn-article-vote-down">
              <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-thumbs-down fa-stack-1x"></i>
              </span>
          </a>
      </div>
        <input class="enqueteBtn" id="feedback_yes" type="icon" value="はい" onclick='$.cookie("answered","{{ .Permalink | relURL }}", {path:"/",expires:1});'>
        <input class="enqueteBtn" id="feedback_no" type="button" value="いいえ" onclick='$.cookie("answered","{{ .Permalink | relURL }}",{path:"/",expires:1});'>
      </div>
    </div>
    <span id="enqueteThanks" style="display:none;">
    お知らせいただき、ありがとうございます！<br>
    お役に立てて嬉しいです。
    </span>
      <div id="additionnalEnquate" style="display:none;">
        <div>【任意】困っていることを教えてください。</div>
          <textarea id="additionnalEnquate_textArea" name="questions[74182]"></textarea>
          <span id="additionnalEnquate_countChar"></span>
          <!-- 入力できる文字数は1500文字まで。アンケートには表示しない-->
          <div id="enquete_note">
           <ul>
            <li>個人情報や秘密保持義務のある情報を含めないでください。</li>
            <li>質問や要望への返答は行っておりません。</li>
           </ul>
          </div>
          <input type="submit" value="送信する" id="feedback_send" class="enqueteBtn btn_disabled">
          <input type="submit" value="閉じる" id="feedback_sendWithoutComment" class="enqueteBtn">
      </div>
    <span id="enqueteSorry" style="display:none;">
    お知らせいただき、ありがとうございます！<br>
    ぜひご意見をお聞かせください。
    </span>
      <div id="additionnalEnquate" style="display:none;">
      <div>【任意】困っていることを教えてください。</div>
        <textarea id="additionnalEnquate_textArea" name="questions[74182]"></textarea>
        <span id="additionnalEnquate_countChar"></span>
        <!-- 入力できる文字数は1500文字まで。アンケートには表示しない-->
        <div id="enquete_note">
         <ul>
          <li>個人情報や秘密保持義務のある情報を含めないでください。</li>
          <li>質問や要望への返答は行っておりません。</li>
         </ul>
        </div>
        <input type="submit" value="送信する" id="feedback_send" class="enqueteBtn btn_disabled">
        <input type="submit" value="閉じる" id="feedback_sendWithoutComment" class="enqueteBtn">
      </div>
  </form>
</aside>
<script src="{{ "javascripts/enquete.js" | relURL }}"></script>
<script>
document.getElementById("enqueteForm").action="https://formcreator.jp/answer.php/screens/enquete_from_external_site?key=pDgJI91lHBlbFjGvfIKRhw%3D%3D";
</script>
<iframe name="blankFrame" width=0 height=0 style="visibility:hidden"></iframe> <!-- for questionnaire -->
{{ end }}
