<aside id="enquete">
    <div class="enquete-panel">
      <div>{{ i18n "Was_it_helpful" }}</div>
      <div class="enquete-btn-wrap">
          <button class="enquete-btn" id="feedback-yes" aria-label='{{ i18n "Yes" }}'>{{ i18n "Yes" }}</button>
          <button class="enquete-btn" id="feedback-no" aria-label='{{ i18n "No" }}'>{{ i18n "No" }}</button>
      </div>
    </div>
</aside>
{{- $buildnum := (now.Format "2006010203") }}
<script src="{{ printf "%s?%s" "javascripts/enquete.js" $buildnum | relURL }}"></script>
