{{ $legal_menu := slice }}
{{- $mega_menus := dict }}
{{- range $i, $r := getCSV "," $.Site.Params.footer_links }}
    {{- $id := (index $r 0 ) }}{{ $item := printf "%s,%s" (index $r 1 ) (index $r 2) }}
    {{- if (eq $id "999" ) }}
        <!-- id = 999 is special footer -->
        {{ $legal_menu = $legal_menu | append $item }}
    {{- else }}
        {{- $menu_items := index $mega_menus $id }}{{ $menu_items = $menu_items | append $item }}
        {{- $mega_menus = merge $mega_menus (dict $id $menu_items) }}
    {{- end }}
{{- end -}}

<div>
    <div class="footer-mega">
        <ul class="footer-mega-list">
            {{- range $mega_menus }}
                <li class="footer-mega-item">
                    {{- $category_title := "" }}{{ $links := slice }}
                    {{- range $i, $r := . }}
                        {{- if eq $i 0 }}
                            {{ $category_title = index (split $r ",") 0 }}
                        {{ else }}
                            {{ $links = $links | append $r }}
                        {{ end }}
                    {{ end }}
                    <div class="footer-mega-list-title">
                        <div
                            class="footer-mega-list-title-img"
                            style="background-image: url('{{ $.Site.Params.icon_footer | relURL }}')"
                        ></div>
                        <div class="footer-mega-list-title-text">{{ $category_title }}</div>
                    </div>
                    <ul class="footer-mega-list-list">
                        {{- range $links }}
                            {{ $link := (split . ",") }}
                            {{- $text := index $link 0 }}{{ $href := index $link 1 }}
                            <li class="footer-mega-list-item"><a href="{{ $href }}">{{ $text }}</a></li>
                        {{- end -}}
                    </ul>
                </li>
            {{ end -}}
        </ul>
    </div>
    <div class="footer-legal">
        <ul class="footer-legal-list">
            {{- range $legal_menu }}
                {{ $link := (split . ",") }}
                {{- $text := index $link 0 }}{{ $href := index $link 1 }}{{- $target := index $link 2 | default "_blank" }}
                <li class="footer-legal-item">
                    <a href="{{ $href }}" target="{{ $target }}">{{ $text }}</a>
                </li>
            {{- end -}}
        </ul>
        <div class="footer-legal-copyright">
            {{ i18n "Footer_copyright" }}
        </div>
    </div>
</div>
