<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}" prefix="og: https://ogp.me/ns#"> 
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    {{- $buildnum := (now.Format "200601020304") }}
    <meta name="date" content="{{$buildnum}}" scheme="YYYYMMDDmmhh">
    {{- $sitename := "" }}
    {{- $servicetype := "" }}
    {{- with .Site.Params.service_type }}
        {{- $servicetype = . }}
    {{- end }}
    {{- if and (eq .Site.Params.service_type_id "on-premise") (eq .Site.LanguageCode "en-us") }}
        {{- $sitename = printf "%s %s" .Site.Params.product_name $servicetype }}
    {{- else }}
        {{- $sitename = printf "%s %s" $servicetype .Site.Params.product_name }}
    {{- end }}
    {{- $sitename = strings.TrimLeft " " $sitename }}
    {{- .Scratch.Set "sitename" $sitename}}
    {{- $sitename = printf "%s %s" $sitename .Site.Params.help -}}

    {{- $title := partial "title" . }}
    {{ if (not .IsHome) }}
        {{- $title = printf "%s | %s" $title $sitename }}
    {{ end }}

    {{- $desc := "" }}
    {{- if .Description }}
        {{- $desc = partial "applyparams" (dict "target" .Description "params" .Site.Params) }}
    {{- else }}
        {{- $post := "" }}
        {{- if and (not .IsHome) (or (eq .Site.Params.product "Garoon") (eq .Site.Params.product "Mailwise") (eq .Site.Params.product "Office")) }}
            {{- $contents := split .Content "\n" }}
            {{- $first := "" }}
            {{- range first 1 $contents }}
                {{- $post = strings.TrimLeft "<p>" . }}
                {{- $post = strings.TrimRight "<br>" $post }}
                {{- $post = (strings.TrimRight "</p>" $post) | html }}
            {{- end }}
        {{- end -}}
        {{- $desc_base := (i18n "og_desc1" .) }}
        {{- with .Site.Params.service_type }}
            {{- $desc_base = (i18n "og_desc1_service" $) }}
        {{- end }}
        {{- $desc = printf "%s %s %s" $desc_base (i18n "og_desc2" .) $post }}
    {{- end }}
    <title>{{ $title }}</title>
    <link rel="canonical" href="https://{{.Site.Params.domain}}{{ .Permalink | relURL }}">
    {{- if or (eq .Params.type "search_result") (eq .Params.nolink true) }}
    <meta name="robots" content="noindex">
    {{- end }}
    <meta name="description" content="{{$desc}}">
    <meta name="thumbnail" content="https://{{.Site.Params.domain}}{{ .Site.Params.og_img | relURL }}">
    <meta property="og:url" content="https://{{.Site.Params.domain}}{{.Permalink | relURL }}">
    {{- if .IsHome}}
    <meta property="og:type" content="website">
    {{- else }}
    <meta property="og:type" content="article">
    {{- end }}
    <meta property="og:site_name" content="{{$sitename}}">
    <meta property="og:title" content="{{$title}}">
    <meta property="og:image" content="https://{{.Site.Params.domain}}{{ .Site.Params.og_img | relURL }}">
    <meta property="og:description" content="{{$desc}}">
    <meta property="og:locale" content="{{.Site.LanguageCode}}">
    <meta name="apple-mobile-web-app-title" content="{{$title}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {{- if and (ne .Site.Params.product "Office") (ne .Site.Params.product "Mailwise") }}
    {{- partial "alternatelink" . }}
    {{- end }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ with .Site.Params.favicon }}{{ . | relURL }}{{ else }}{{ "favicon.ico" | relURL }}{{ end }}">
    <link rel="icon" type="image/x-icon" href="{{ with .Site.Params.favicon }}{{ . | relURL }}{{ else }}{{ "favicon.ico" | relURL }}{{ end }}">

    {{- if eq .Site.Params.TargetRegion "US" }}
    <link rel="stylesheet" href="https://use.typekit.net/fmt1ojn.css">

    <!-- OneTrust Cookies Consent Notice start -->
    <script type="text/javascript" src="https://cookie-cdn.cookiepro.com/consent/9d6098cc-90be-4d07-a9ef-6e07312a3016/OtAutoBlock.js"></script>
    <script src="https://cookie-cdn.cookiepro.com/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="9d6098cc-90be-4d07-a9ef-6e07312a3016"></script>
    <script type="text/javascript">
    function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end -->
    {{- end }}

    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/application.css" $buildnum | relURL }}">
    <link rel="stylesheet" href="{{ "stylesheets/zoom.css" | relURL }}">

    <script src="https://kit.fontawesome.com/5b68479252.js" crossorigin="anonymous"></script>
    {{- if .IsHome}}
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/home.css" $buildnum | relURL }}">
    {{- end }}
    {{- if eq .Params.type "search_result"}}
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/search_result.css" $buildnum | relURL }}">
        {{- if ne .Site.Params.google_search true -}}
    <link href="//c.marsflag.com/mf/mfx/css/mfx-serp.css" rel="stylesheet" type="text/css" media="all" charset="UTF-8">
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/mf_search.css" $buildnum | relURL }}">
        {{- end }}
    {{- end}}
    {{- with .Site.Params.custom_css }}
        {{- $files := split . "," }}
        {{- range $files }}
    <link rel="stylesheet" href="{{ printf "%s?%s" . $buildnum | relURL }}">
        {{- end }}
    {{- end}}

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
    <script src="{{ "javascripts/zoom.js" | relURL }}"></script>
    <script src="{{ printf "%s?%s" "javascripts/preload.js" $buildnum | relURL }}"></script>
    <script src="{{ printf "%s?%s" "javascripts/application.js" $buildnum | relURL }}"></script>
    {{- if eq .Site.Params.meganav true }}
    <script src="{{ printf "%s?%s" "javascripts/meganav.js" $buildnum | relURL }}"></script>
    {{- end }}
    {{- if and (eq .Params.type "search_result") (eq .Site.Params.google_search true) }}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    {{- end }}
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5ZR5GF');</script>

      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5N49D3');</script>
    <!-- End Google Tag Manager -->

    {{- if and (eq $.Site.Params.product "kintone") (eq $.Site.Params.TargetRegion "JP") }}
    <!-- Google Tag Manager for kintone hive -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WQ8K7Z8');</script>
    <!-- End Google Tag Manager for kintone hive -->
    {{- end }}

    {{- $chats := .Site.Params.chat }}
    {{- $chat := split .Site.Params.chat "," }}
    {{- $curpage := .Page.RelPermalink }}
    {{- range $chat }}
        {{- $target := printf "/%s/" . }}
        {{- if gt (strings.Count $target $curpage) 0 }}
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=6549c743-a6eb-40ac-a71f-c479b0759f1c"> </script>
        {{- end }}
    {{- end }}

  </head>
  <body class="font-{{.Lang}}">
