<nav aria-label="Header">
    <div class="header-logo-base">
  {{ with .Site.Params.logo }}
        <a href="/{{$.Lang}}/">
            <img class="header-logo" src="{{ $.Site.BaseURL }}{{ . }}">
        </a>
  {{ end }}
    </div>

  {{if ne .Params.type "search_result"}}
    <div class="searchbox">
      <i class="fas fa-search"></i>
      <form id="headerSearchBox_form" action="/{{.Lang}}/search_result.html" onsubmit='if(document.getElementById("headerSearchBox_input").value==""){return false;}'>
        <input name="q" id="headerSearchBox_input" placeholder="{{ .Site.Language.Params.search_guide }}" type="text" aria-label="search">
        <input type="hidden" name="ct" value="{{ .Site.Language.Params.search_all }}">
      </form>
    </div>
  {{end}}
  {{if .IsTranslated}}
  <div id="langselector">{{ partial "langselector" . }}</div>
  {{end}}
</nav>