<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}" prefix="og: https://ogp.me/ns#">
  <head>
    {{- if eq .Site.Params.use_wovn true }}
        {{- $baseUrl := split .Site.BaseURL "/" }}
        {{- $num := sub (len $baseUrl) 2 }}
        {{- $prefix := index $baseUrl $num }}
    <script src="https://j.wovn.io/1" data-wovnio="key={{.Site.Params.data_wovnio}}&amp;defaultLang=en&amp;currentLang=en&amp;urlPattern=path&amp;backend=true&amp;langCodeAliases={&quot;en&quot;:&quot;en&quot;}&amp;sitePrefixPath={{$prefix}}&amp;langParamName=wovn&amp;backendVersion=WOVN.proxy_0.9.0" async></script>
    {{- end }}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    {{- $buildnum := (now.Format "20060102") }}
    <meta name="date" content="{{$buildnum}}" scheme="YYYYMMDD">
    {{- $sitename := "" }}
    {{- $servicetype := "" }}
    {{- with .Site.Params.service_type }}
        {{- $servicetype = . }}
    {{- end }}
    {{- if and (eq .Site.Params.service_type_id "on-premise") (eq .Site.LanguageCode "en-us") }}
        {{- $sitename = printf "%s %s" .Site.Params.product_name $servicetype }}
    {{- else }}
        {{- $sitename = printf "%s %s" $servicetype .Site.Params.product_name }}
    {{- end }}
    {{- $sitename = strings.TrimLeft " " $sitename }}
    {{- .Scratch.Set "sitename" $sitename}}
    {{- $sitename = printf "%s %s" $sitename .Site.Params.help -}}

    {{- $title := partial "title" . }}
    {{ if (not .IsHome) }}
        {{- $title = printf "%s | %s" $title $sitename }}
    {{ end }}

    {{- $desc := "" }}
    {{- if .Description }}
        {{- $desc = partial "applyparams" (dict "target" .Description "params" .Site.Params) }}
    {{- else }}
        {{- $post := "" }}
        {{- if and (not .IsHome) (or (eq .Site.Params.product "Garoon") (eq .Site.Params.product "Mailwise") (eq .Site.Params.product "Office") (eq .Site.Params.product "Remote")) }}
            {{- $contents := split .Content "\n" }}
            {{- $first := "" }}
            {{- range first 1 $contents }}
                {{- $post = strings.TrimLeft "<p>" . }}
                {{- $post = strings.TrimRight "<br>" $post }}
                {{- $post = (strings.TrimRight "</p>" $post) | html }}
            {{- end }}
        {{- end -}}
        {{- $desc_base := (i18n "og_desc1" .) }}
        {{- with .Site.Params.service_type }}
            {{- $desc_base = (i18n "og_desc1_service" $) }}
        {{- end }}
        {{- $desc = printf "%s %s %s" $desc_base (i18n "og_desc2" .) $post }}
    {{- end }}
    <title>{{ $title }}</title>
    <link rel="canonical" href="https://{{.Site.Params.domain}}{{ .Permalink | relURL }}">
    {{- if or (eq .Params.type "search_result") (eq .Params.nolink true) }}
    <meta name="robots" content="noindex">
    {{- end }}
    <meta name="description" content="{{$desc}}">
    <meta name="thumbnail" content="https://{{.Site.Params.domain}}{{ .Site.Params.og_img | relURL }}">
    <meta property="og:url" content="https://{{.Site.Params.domain}}{{.Permalink | relURL }}">
    {{- if .IsHome}}
    <meta property="og:type" content="website">
    {{- else }}
    <meta property="og:type" content="article">
    {{- end }}
    <meta property="og:site_name" content="{{$sitename}}">
    <meta property="og:title" content="{{$title}}">
    <meta property="og:image" content="https://{{.Site.Params.domain}}{{ .Site.Params.og_img | relURL }}">
    <meta property="og:description" content="{{$desc}}">
    <meta property="og:locale" content="{{.Site.LanguageCode}}">
    <meta name="apple-mobile-web-app-title" content="{{$title}}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {{- $templateversion := "1" }}
    {{- with .Site.Params.template_version }}
      {{- $templateversion = . }}
    {{- end }}
    <meta name="cy-template-version" content="{{$templateversion}}">
    <meta name="cy-product-name" content="{{.Site.Params.product}}">
    <meta name="cy-region" content="{{.Site.Params.TargetRegion}}">
    {{- if and (ne .Site.Params.product "Office") (ne .Site.Params.product "Mailwise") (ne .Site.Params.product "Remote")}}
    {{- partial "alternatelink" . }}
    {{- end }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ with .Site.Params.favicon }}{{ . | relURL }}{{ else }}{{ "favicon.ico" | relURL }}{{ end }}">
    <link rel="icon" type="image/x-icon" href="{{ with .Site.Params.favicon }}{{ . | relURL }}{{ else }}{{ "favicon.ico" | relURL }}{{ end }}">

    {{- if eq .Site.Params.TargetRegion "US" }}
    <link rel="stylesheet" href="https://use.typekit.net/fmt1ojn.css">

    <!-- OneTrust Cookies Consent Notice start -->
    <script type="text/javascript" src="https://cookie-cdn.cookiepro.com/consent/9d6098cc-90be-4d07-a9ef-6e07312a3016/OtAutoBlock.js"></script>
    <script src="https://cookie-cdn.cookiepro.com/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="9d6098cc-90be-4d07-a9ef-6e07312a3016"></script>
    <script type="text/javascript">
    function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end -->
    {{- end }}

    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/application.css" $buildnum | relURL }}">
    <link rel="stylesheet" href="{{ "stylesheets/zoom.css" | relURL }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    {{- if eq $templateversion "2" -}}
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/application2.css" $buildnum | relURL }}">
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/searchbox.css" $buildnum | relURL }}">
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/footer.css" $buildnum | relURL }}">
      {{- if .IsHome -}}
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/toppage2.css" $buildnum | relURL }}">
      {{- end -}}
    {{- else }} <!-- version "1" -->
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/home.css" $buildnum | relURL }}">
    {{- end -}}

    {{- if eq .Params.type "search_result"}}
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/search_result.css" $buildnum | relURL }}">
    {{- end}}

    {{- with .Site.Params.custom_css }}
        {{- $files := split . "," }}
        {{- range $files }}
    <link rel="stylesheet" href="{{ printf "%s?%s" . $buildnum | relURL }}">
        {{- end }}
    {{- end}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
    <script src="{{ "javascripts/zoom.js" | relURL }}"></script>
    <script src="{{ printf "%s?%s" "javascripts/preload.js" $buildnum | relURL }}"></script>
    <script src="{{ printf "%s?%s" "javascripts/application.js" $buildnum | relURL }}"></script>
    {{- if eq .Site.Params.meganav true }}
    <script src="{{ printf "%s?%s" "javascripts/meganav.js" $buildnum | relURL }}"></script>
    {{- end }}
    <!-- Video list page -->
    {{- if eq .Params.type "gr/section_top_video"}}
    <link rel="stylesheet" href="{{ printf "%s?%s" "stylesheets/video_list.css" $buildnum | relURL }}">
    {{- end}}

    {{- if eq .Params.type "gr6/home" -}}
    <script src="{{ printf "%s?%s" "javascripts/custom_gr6.js" $buildnum | relURL }}"></script>
    {{- end -}}

    {{- if eq $templateversion "2" -}}
    <script src="{{ printf "%s?%s" "javascripts/searchbox.js" $buildnum | relURL }}"></script>
      {{- if .IsHome -}}
    <script src="{{ printf "%s?%s" "javascripts/toppage2.js" $buildnum | relURL }}"></script>
      {{- end -}}
    {{- end -}}

    {{- if or
        ( and (eq .Params.type "search_result") (eq .Site.Params.google_search true) )
        ( and (eq .Params.type "search_result") (eq .Site.Params.bing_search true) )
        (eq .Params.type "gr/section_top_video")
        (eq .Params.type "gr6/home")
    -}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.8/vue.global.prod.min.js"></script>
    {{- end }}
    {{- template "gtm" dict "key" "GTM-5ZR5GF" }}
    {{- template "gtm" dict "key" "GTM-5N49D3" }}
    {{- if and (eq $.Site.Params.product "kintone") (eq $.Site.Params.TargetRegion "JP") }}
      {{- template "gtm" dict "key" "GTM-K98FR27D" }}
    {{- end }}
    {{- $chats := .Site.Params.chat }}
    {{- $chat := split .Site.Params.chat "," }}
    {{- $curpage := .Page.RelPermalink }}
    {{- range $chat }}
        {{- $target := printf "/%s/" . }}
        {{- $menus := split (index $.Site.Params (printf "chat_menu_%s" . )) "," -}}
        {{- if gt (strings.Count $target $curpage) 0 }}
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=6549c743-a6eb-40ac-a71f-c479b0759f1c"> </script>
    {{- /* $menus makes sure to return 1 */ -}}
    {{- if and (gt (len $menus) 0) (not (eq (index $menus 0) "")) }}
    <script type="text/javascript">
        window.zESettings = {
            webWidget: {
                chat: {
                    departments: {
                        enabled: {{ $menus }},
                        {{ if eq (len $menus) 1 }}select: "{{ (index $menus 0) }}",{{ end -}}
                    }
                }
            }
        };
    </script>
    {{- end }}
        {{- end }}
    {{- end }}

  </head>
  <body class="font-{{.Lang}}">
