<div id="lang-selector" role="listbox" aria-label="language selector" aria-expanded="false" tabindex="0" >
    <div class="current-lang">
        <i class="fas fa-globe" aria-hidden="true"></i>
        <span class="lang-title">{{ .Site.Language.Params.LanguageName }}</span>
        <i class="fas fa-chevron-down" aria-hidden="true"></i>
    </div>
    <div id="alter-lang" class="alter-lang" aria-hidden="true">
        <ul>
        {{- range .Translations }}
            <li role="listitem"><a class="lang-link" href="{{ .RelPermalink }}"><span class="lang-title">{{ .Site.Language.Params.LanguageName }}</span></a></li>
        {{- end }}
        </ul>
    </div>
</div>
