{{- $entries := $.Site.Home.Sections}}
{{- $target := .}}
<div id="mainmenu">
<ul id="navi">
{{- range $entries.ByWeight}}
  {{- template "mainmenu" (dict "curnode" . "target" $target )}}
{{- end}}
</ul>
</div>

{{- define "mainmenu" }}
   {{- $target := .target}}
   {{- $curnode := .curnode}}
   {{- with $curnode}}
       {{- if .IsSection }}
            {{- $pages := (cond .IsHome (where .Site.RegularPages "Section" "") .Pages) }}
            {{- $numberOfPages := (add (len $pages) (len .Sections)) }}
            {{- if in .Params.disabled .Site.Params.TargetRegion}}
            {{- else}}
        <li>
            <div class="category"> 
                <span class="navi-icon">
                    {{- if  or ( .IsAncestor $target ) ( eq . $target ) }}<i class="fa fa-chevron-down"></i>
                    {{- else}}<i class="fa fa-chevron-right"></i>
                    {{- end}}
                </span>
                {{- if eq .RelPermalink $target.RelPermalink}}
                <a href="#" class="current{{- if  or ( .IsAncestor $target ) ( eq . $target ) }} expand{{end}}">
                {{ else }}
                <a href="{{ .RelPermalink}}" class="{{- if  or ( .IsAncestor $target ) ( eq . $target ) }}expand{{end}}">
                {{ end -}}
                <span>{{- partial "title" . -}}</span></a>
            </div>
                {{- if ne $numberOfPages 0 }}
            <ul class="{{- if  or ( .IsAncestor $target ) ( eq . $target ) }}opened{{end}}">
                    {{- if .Sections}}
                        {{- .Scratch.Set "entries" ($pages | union .Sections) }}
                    {{- else}}
                        {{- .Scratch.Set "entries" $pages }}
                    {{- end}}
                    {{- $entries := (.Scratch.Get "entries") }}
                    {{- range $entries.ByWeight }}
                        {{- template "mainmenu" (dict "curnode" . "target" $target) }}
                    {{- end}}
            </ul>
                {{- end}}
        </li>
           {{- end}}
        {{- else}}
            {{- if in .Params.disabled .Site.Params.TargetRegion}}
            {{- else}}
            <li>
                <span class="navi-sp">
                    {{- if eq .RelPermalink $target.RelPermalink}}
                    <a href="#" class="current" aria-current="page">{{ partial "title" .}}</a>
                    {{ else }}
                    <a href="{{ .RelPermalink}}">{{ partial "title" .}}</a>
                    {{ end -}}
                </span>
            </li>
            {{- end}}
        {{- end}}
    {{- end}}
{{- end}}
