{{- $entries := $.Site.Home.Sections}}
{{- $target := .}}
<div id="mainmenu">
<ul>
{{- range $entries.ByWeight}}
  {{- template "mainmenu" (dict "curnode" . "target" $target )}}
{{- end}}
</ul>
</div>

{{- define "mainmenu" }}
   {{- $target := .target}}
   {{- $curnode := .curnode}}
   {{- with $curnode}}
       {{- if .IsSection }}
            {{- $pages := (cond .IsHome (where .Site.RegularPages "Section" "") .Pages) }}
            {{- $numberOfPages := (add (len $pages) (len .Sections)) }}
            {{- if in .Params.disabled .Site.Params.TargetRegion}}
            {{- else}}
        <li>
            <div class="category chevron{{- if .IsAncestor $target}} expand{{end}}">
                {{- if eq .RelPermalink $target.RelPermalink}}
                <a href="#main" class="current{{- if .IsAncestor $target}} expand{{end}}">
                {{ else }}
                <a href="{{ .RelPermalink}}" class="{{- if .IsAncestor $target}}expand{{end}}">
                {{ end -}}
                <span>{{- partial "title" . -}}</span></a>
            </div>
                {{- if ne $numberOfPages 0 }}
            <ul class="{{- if .IsAncestor $target}}opened{{end}}">
                    {{- if .Sections}}
                        {{- .Scratch.Set "entries" ($pages | union .Sections) }}
                    {{- else}}
                        {{- .Scratch.Set "entries" $pages }}
                    {{- end}}
                    {{- $entries := (.Scratch.Get "entries") }}
                    {{- range $entries.ByWeight }}
                        {{- template "mainmenu" (dict "curnode" . "target" $target) }}
                    {{- end}}
            </ul>
                {{- end}}
        </li>
           {{- end}}
        {{- else}}
            {{- if in .Params.disabled .Site.Params.TargetRegion}}
            {{- else}}
            <li>
                {{- if eq .RelPermalink $target.RelPermalink}}
                <a href="#main" class="current" aria-current="page">{{ partial "title" .}}</a>
                {{ else }}
                <a href="{{ .RelPermalink}}">{{ partial "title" .}}</a>
                {{ end -}}
            </li>
            {{- end}}
        {{- end}}
    {{- end}}
{{- end}}
