{{ $related := .Site.RegularPages.Related . | first 5 }}

{{$.Scratch.Set "pagecnt" 0}}

{{ range $related }}
    {{ if in .Params.disabled $.Site.Params.TargetRegion }}
    {{ else }}
        {{$.Scratch.Add "pagecnt" 1}}
    {{ end}}
{{ end }}

{{if gt ($.Scratch.Get "pagecnt") 0}}
  {{ with $related.ByWeight }}
<hr>
<div class="seealso">{{ $.Site.Language.Params.see_also }}</div>
<ul>
	{{- range . -}}
      {{- if in .Params.disabled $.Site.Params.TargetRegion -}}
      {{- else -}}
	<li><a href="{{ .RelPermalink }}">{{ partial "title" . }}</a></li>
      {{- end -}}
	{{- end -}}
</ul>
  {{ end }}
{{ end }}