{{ $related := .Site.RegularPages.Related . | first 5 }}

{{$.Scratch.Set "pagecnt" 0}}

{{ range $related }}
    {{ if in .Params.disabled $.Site.Params.TargetRegion }}
    {{ else }}
        {{$.Scratch.Add "pagecnt" 1}}
    {{ end}}
{{ end }}

{{if gt ($.Scratch.Get "pagecnt") 0}}
  {{ with $related.ByWeight }}
<hr>
{{if eq .Lang "ja" }}<div class="seealso">次のページも参照してください</div>{{ end }}
{{if eq .Lang "en" }}<div class="seealso">See also</div>{{ end }}
{{if eq .Lang "zh" }}<div class="seealso">另请参阅下一页</div>{{ end }}
<ul>
	{{- range . -}}
      {{- if in .Params.disabled $.Site.Params.TargetRegion -}}
      {{- else -}}
	<li><a href="{{ .RelPermalink }}">{{ partial "title" . }}</a></li>
      {{- end -}}
	{{- end -}}
</ul>
  {{ end }}
{{ end }}