<div id="tree-nav">
    <div id="tree-head">
        <div class="tree-title"><a href="{{.RelPermalink}}">{{- partial "title" . -}}</a></div>
    </div>
    <nav id="tree-main" role="tree">
        <ul>
            <li class="dummy-node" data-jstree='{ "opened" : true, "disabled" : true }'>
                {{- $tocs := "" }}
                {{- $cont := .Content }}
                {{- $tocs = findRE "<h2.*?>(.|\n)*?</h2>" $cont }}
                    {{- if gt (len $tocs) 0 }}
                <ul>
                        {{- $pageurl := .RelPermalink}}
                        {{- range $tocs }}
                            {{- $anc := "" }}
                            {{- $params := split . " " }}
                            {{- range $params }}
                                {{- if in . "pid=" }}
                                    {{- $params2 := split . ">" }}
                                    {{- range $params2 }}
                                        {{- if in . "pid=" }}
                                            {{- $anc = (strings.TrimPrefix "pid=\"" . ) }}
                                            {{- $anc = (strings.TrimSuffix "\"" $anc ) }}
                                        {{- end }}
                                    {{- end }}
                                {{- else if in . "id=" }}
                                    {{- $anc = (strings.TrimPrefix "id=\"" . ) }}
                                    {{- $anc = (strings.TrimSuffix "\"" $anc ) }}
                                {{- end }}
                            {{- end }}

                            {{- $txts := (findRE ">.+<" . 1) }}
                            {{- $txt := "" }}
                            {{- range first 1 $txts }}
                               {{- $txt = . }}
                            {{- end }}
                            {{- $txt = (strings.TrimPrefix ">" $txt ) }}
                            {{- $txt = (strings.TrimSuffix "<" $txt ) }}

                         <li><a href="{{$pageurl}}#{{$anc}}" class="toclink">{{$txt}}</a></li>
                        {{- end }}
                </ul>
                    {{- end }}
            </li>
        </ul>
    </nav>
</div>