{{- $entries := "" }}
{{- $needtoc := false }}
{{- $islastsect := false }}
{{- $entries = $.Site.Home.Sections}}

<div id="tree-nav">
{{- if eq $.Site.Params.meganav true -}}
    {{- $lastpage := (slice) }}
    {{- if eq $.Site.Params.product "Garoon" }}
        {{- $lastpage = (slice "/purpose/" "/user/basic/" "/user/mobile/" "/user/personal/" "/admin/spec/" "/glossary/") }}
    {{- else if eq $.Site.Params.product "Mailwise" }}
        {{- $lastpage = (slice "/user/basic/" "/user/personal/" "/admin/spec/" "/admin/system/" "/option/migration/" "/intro/first/" "/intro/install/" "/intro/verup/" "/intro/uninstall/") }}
    {{- else if eq $.Site.Params.product "Office" }}
        {{- $lastpage = (slice "/intro/first/" "/guide/" "/pdf/") }}
    {{- end }}
    {{- range $lastpage }}
        {{- if in $.RelPermalink . }}
            {{- $islastsect = true }}
        {{- end }}
    {{- end }}
    {{- $link1  := "" }}
    {{- $title1 := . }}
    {{- $link2  := "" }}
    {{- $title2 := . }}
    
    {{- $parenttree := false }}
    
    {{- if or (eq $.Site.Params.product "Garoon") (eq $.Site.Params.product "Mailwise") (eq $.Site.Params.product "Office")}}
        {{- $needtoc = true }}
        {{- if in .RelPermalink "/application.html" }}
            {{- $needtoc = false }}
        {{- end }}
    {{- end }}
    {{- if eq $islastsect true }}
        {{- $link1  = .Parent.RelPermalink }}
        {{- $title1 = .Parent }}
        {{- $parenttree = true }}
    {{- else }}
        {{- if ne .FirstSection . }}
            {{- if eq .Parent .FirstSection }}
                {{- $link1  = .RelPermalink }}
                {{- $title1 = . }}
            {{- else if eq .Parent.Parent .FirstSection }}
                {{- $link1  = .Parent.RelPermalink }}
                {{- $title1 = .Parent }}
                {{- $link2  = .RelPermalink }}
                {{- $title2 = . }}
            {{- else }}
                {{- $link1  = .Parent.Parent.RelPermalink }}
                {{- $title1 = .Parent.Parent }}
                {{- $link2  = .Parent.RelPermalink }}
                {{- $title2 = .Parent }}
                {{- $parenttree = true }}
            {{- end }}
        {{- end }}
    {{- end }}
  <div id="tree-head">
    <div class="tree-title"><a href="{{$link1}}">{{- partial "title" $title1 -}}</a></div>
    {{- if ne $link2 "" }}
    <div class="tree-subtitle"><a href="{{$link2}}">{{- partial "title" $title2 -}}</a></div>
    {{- end }}
  </div>
    {{- if eq $parenttree true }}
        {{- $entries = (.Parent.Pages | union .Parent.Sections) }}
    {{- else }}
        {{- $entries = (.Pages | union .Sections) }}
    {{- end }}
{{- end }}

  <nav id="tree-main" tabindex="0">
    <ul>
{{- $target := .}}
{{- range $entries.ByWeight}}
    {{- template "mainmenu" (dict "curnode" . "target" $target "needtoc" $needtoc)}}
{{- end}}
    </ul>
  </nav>
</div>

{{- define "mainmenu" }}
    {{- $target := .target}}
    {{- $curnode := .curnode}}
    {{- $needtoc := .needtoc}}
    {{- with $curnode}}
        {{- $opened := "false" }}
        {{- $selected := "false" }}

        {{- if .IsSection }}
            {{- $pages := (cond .IsHome (where .Site.RegularPages "Section" "") .Pages) }}
            {{- $numberOfPages := (add (len $pages) (len .Sections)) }}
            {{- if in .Params.disabled .Site.Params.TargetRegion}}
            {{- else}}
                {{- if .IsAncestor $target }}
                    {{- $opened = "true" }}
                {{- end }}
                {{- if eq .RelPermalink $target.RelPermalink}}
                    {{- $selected = "true" }}
                {{- end }}

                {{- if eq $opened "true" }}
        <li role="presentation" data-jstree='{ "opened" : true }'>
                {{- else }}
        <li role="presentation">
                {{- end }}

                {{- if ne $numberOfPages 0 }}
                  {{- if eq $selected "true" }}
            <a href="#" data-jstree='{ "selected" : true }' class="current">
                  {{- else }}
            <a href="{{.RelPermalink}}">
                  {{- end }}
                  {{- partial "title" . -}}</a>
            <ul> 
                    {{- $entries := ""}}
                    {{- if .Sections}}
                        {{- $entries = ($pages | union .Sections) }}
                    {{- else}}
                        {{- $entries = $pages }}
                    {{- end}}
                    
                    {{- range $entries.ByWeight }}
                        {{- template "mainmenu" (dict "curnode" . "target" $target "needtoc" $needtoc) }}
                    {{- end}}
            </ul>
                {{- end}}
        </li>
            {{- end }}
        {{- else}}
            {{- if in .Params.disabled .Site.Params.TargetRegion}}
            {{- else}}
                {{- $tocs := "" }}
                {{- if eq .RelPermalink $target.RelPermalink -}}
                    {{- $opened = "false" }}
                    {{- $selected = "true" }}
                {{- end }}
                {{- $toclen := 0 }}
                {{- if eq $needtoc true -}}
                    {{- $cont := .Content }}
                    {{- $tocs = findRE "<h[23].*?>(.|\n)*?</h[23]>" $cont }}
                    {{- $toclen = (len $tocs) }}
                {{- end }}

                {{ if eq $opened "true" -}}
            <li role="presentation" data-jstree='{ "opened" : true }'>
                {{- else -}}
            <li role="presentation">
                {{- end -}}

                {{- if eq $selected "true" -}}
                <a href="#" data-jstree='{ "selected" : true }' class="toclink current">{{ partial "title" .}}</a>
                {{- else -}}
                <a href="{{.RelPermalink}}" class="toclink">{{ partial "title" .}}</a>
                {{- end }}

                {{- if gt $toclen 0 }}
                    <ul>
                    {{- $pageurl := .RelPermalink}}
                    {{- $loopcnt := 0 }}
                    {{- $curitem := "" }}
                    {{- $prevtitem := "" }}
                    {{- $ulopen := false }}
                    
                    {{- range $tocs }}
                        {{- $curitem = . }}
                        {{- $haschild := false }}
                        
                        {{- if ne $prevtitem "" }}
                            {{- if and (in $prevtitem "<h2") (in $curitem "<h3") }}
                                {{- $haschild = true }}
                            {{- end }}
                            {{- template "treeitem" (dict "tocitem" $prevtitem "haschild" $haschild "pageurl" $pageurl ) }}
                        {{- end }}
                        
                        {{- if eq $haschild true }}
                        <ul class="twig-parent">
                            {{- $haschild = false }}
                            {{- $ulopen = true }}
                        {{- end }}
                        
                        {{- if ne $prevtitem "" }}
                            {{- if and (in $prevtitem "<h3") (in $curitem "<h2") }}
                        </ul>
                                {{- $ulopen = false }}
                            {{- end }}
                        {{- end }}
                        
                        {{- $loopcnt = (add $loopcnt 1) }}
                        
                        {{- if eq $loopcnt $toclen }}
                            {{- template "treeitem" (dict "tocitem" $curitem "haschild" false "pageurl" $pageurl ) }}
                            {{- if eq $ulopen true }}
                        </ul>
                            {{- end }}
                        {{- end }}
                        
                        {{- $prevtitem = $curitem }}
                    {{- end }}
                    </ul>
                {{- end }}
                </li>
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}

{{- define "treeitem" }}
    {{- $tocitem := .tocitem }}
    {{- $haschild := .haschild }}
    {{- $pageurl := .pageurl }}
     
    {{- $anc := "" }}
    {{- $params := split $tocitem " " }}
    {{- range $params }}
        {{- if in . "pid=" }}
            {{- $params2 := split . ">" }}
            {{- range $params2 }}
                {{- if in . "pid=" }}
                    {{- $anc = (strings.TrimPrefix "pid=\"" . ) }}
                    {{- $anc = (strings.TrimSuffix "\"" $anc ) }}
                {{- end }}
            {{- end }}
        {{- else if in . "id=" }}
            {{- $anc = (strings.TrimPrefix "id=\"" . ) }}
            {{- $anc = (strings.TrimSuffix "\"" $anc ) }}
        {{- end }}
    {{- end }}

    {{- $txts := (findRE ">.+<" $tocitem 1) }}
    {{- $txt := "" }}
    {{- range first 1 $txts }}
       {{- $txt = . }}
    {{- end }}
    {{- $txt = (strings.TrimPrefix ">" $txt ) }}
    {{- $txt = (strings.TrimSuffix "<" $txt ) }}
                        <li role="presentation">
                            <a href="{{$pageurl}}#{{$anc}}" class="toclink">{{$txt}}</a>
    {{- if ne $haschild true -}}
                        </li>
    {{- end -}}

{{- end }}
