{{- partial "head" . }}
{{- partial "announcementbanner.html" . -}}
{{- partial "header" . }}
    <div class="nftitle">
        <h1>
         {{ i18n "Page_not_found" }}
        </h1>
    </div>
    <main class="main" role="main">
        <article class="nfarticle" role="article">
             <div class="nfdetail" role="alert">
             {{ i18n "I_am_sorry_page_not_found" }}
             </div>
             <div class="nflink">
             <a href="javascript:history.back()">{{ i18n "Go_back_to_previous" }}</a><br>
             <a href="/{{.Lang}}/">{{ i18n "Go_back_to_top" }}</a>
             </div>
        </article>
    </main>
    {{- partial "footer" . }}
</body>
</html>
