<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Permalink | relURL }}</title>
    <link rel="canonical" href="{{ .Permalink | relURL }}"/>
    <meta name="robots" content="noindex">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  </head>
  <script>
  window.onload = function() {
      const url = {{ .Permalink | relURL }};
      const query = window.location.search;
      const hash = window.location.hash;

      window.addEventListener('wovnApiReady', function () {
          const wovnobj = WOVN.io.getCurrentLang();
          const wovncode = wovnobj.code;
          const wovnurl = url.replace("/en/", "/" + wovncode + "/");
          window.location.href = wovnurl + query + hash;
      });

      if (typeof WOVN === 'undefined') {
        window.location.href = url + query + hash;
      }
  }
  </script>
</html>