{{- partial "head" . }}
{{- partial "announcementbanner.html" . -}}
{{- partial "header" . }}
<div class="page-pad"></div>
{{- if eq $.Site.Params.meganav true -}}
<div class="mnav-pad"></div>
    {{ partial "meganav" . }}
{{- end -}}
    <div class="eye-catching">
        <div class="hero" style="background-image: url('{{ "images/hero_common.png" | relURL}}');"></div>
    </div>
    <main class="main">
        <article class="article home-article" >
            <div class="wrapper">
                {{- $toptitle := (i18n "Welcome" .) }}
                {{- if eq $.Site.Params.TargetRegion "US" }}
                    {{ $toptitle = printf "%s %s" .Site.Params.kintone (i18n "Help_site") }}
                {{- end }}
                <div class="welcome_message">{{$toptitle}}</div>
                <div class="search-wrap">
                    <form id="headerSearchBox_form" action="{{ "" | relURL }}{{.Lang}}/search_result.html"　onsubmit='if(document.getElementById("headerSearchBox_input").value==""){return false;}' role="search">
                        <div class="searchbox">
                            <input type="search" name="q" id="topSearchBox_input" class="search-input" placeholder='{{ i18n "Enter_keywords" }}' aria-label='{{i18n "search_word"}}'>
                            <button type="submit" name="commit" value="" class="search-submit" data-disable-with="" aria-label='{{i18n "search"}}'></button>
                        {{- if ne .Site.Params.google_search true }}
                            <input type="hidden" name="ct" value="{{ .Site.Language.Params.search_all }}">
                        {{- end }}
                        </div>
                    </form> 
                    <div id="logo_place" class="search-logo"></div>
                </div>
              <nav class="col-flex">
                    {{ .Content }}
              </nav>
            </div>
        </article>
    </main>
    {{- if eq .Site.Params.google_search true }}
        {{- $glang := $.Site.Language.Lang}}
        {{- if eq $glang "zh" }}
            {{- $glang = "zh-CN" }}
        {{- else if eq $glang "zh-tw" }}
            {{- $glang = "zh-TW" }}
        {{- end }}
    <script src="https://www.gstatic.com/prose/brand.js" targetId="logo_place" hl="{{$glang}}"></script>
    {{- end }}
    {{- partial "footer" . }}
{{- if and (eq $.Site.Params.product "kintone") (eq $.Site.Params.TargetRegion "JP") }}{{ partial "yahootagmanager" . }}{{- end }}
</body>
</html>
