{{ partial "head" . }}

<div class="backdrop">
    <div class="backdrop-paper"></div>
</div>

<header class="header">
    {{ partial "header" . }}
</header>

 <main class="main">
    <div class="drawer">
        {{- partial "drawer" . }}
    </div>
    <div class="article">
        <div class="wrapper"> 
            <div class="breadcrumb">{{- partial "breadcrumb" . -}}</div>
            <h1>{{- .Title }}</h1>
            <ul id="list">
                {{- range .Data.Pages.ByWeight  }}
                    {{- if in .Params.disabled $.Site.Params.TargetRegion }}
                    {{- else }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{- end }}
                {{- end }}
            </ul>
        </div>
    </div>
</main>
    
<footer class="footer">
</footer>

</body>
</html>
