---
import Wovn from "./Wovn.astro";
---

<aside class="admonition hint">
  <div class="admonition-alt">
    <i class="fas fa-lightbulb" aria-hidden="true"></i>
    <span class="admonition-alt-text"><Wovn>i18n__Title_tips</Wovn></span>
  </div>
  <div class="admonition-content"><slot /></div>
</aside>