---
import Wovn from "./Wovn.astro";
---

<aside class="admonition note">
  <div class="admonition-alt">
    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
    <span><Wovn>補足</Wovn></span>
  </div>
  <div class="admonition-content"><slot /></div>
</aside>