---
interface Props {
  langCode?: string;
}

const { langCode } = Astro.props;

// langCode によって wv-brk wv-brk-en を切り替える
const className = langCode === 'en' ? 'wv-brk wv-brk-en' : 'wv-brk';
---

<span class={className}><slot /></span> 