{{- $id := "" }}
{{- if .Get "id" }}
    {{- $id = .Get "id" }}
{{- end }}
{{- $checkbox := true }}
{{- if .Get "checkbox" }}
    {{- if eq (.Get "checkbox") "false" }}
        {{- $checkbox = false }}
    {{- end }}
{{- end }}
{{- if ne $id "" }}
  <div class="step-wrap" id="{{$id}}">
{{- else }}
  <div class="step-wrap">
{{- end }}
    <div class="step-label">
{{- $number := "" }}
{{- if .Get "number" }}
    {{- $number = .Get "number" }}
        {{- if and (ne $id "") (eq $checkbox true) }}
        <input type="checkbox" class="step-check" id="sbodyid_{{$id}}"></input>
        {{- end }}
        <label for="sbodyid_{{$id}}"><div class="step-num">Step<span>{{$number}}</span></div></label>
{{- end }}
        <div class="step-desc">
{{- $section := "" }}
{{- $tmpsect_pref := "<div class=\"tmp-step-section\">" }}
{{- $tmpsect := printf "%s(.|\n)*?</div>" $tmpsect_pref}}
{{- $div1 := findRE $tmpsect .Inner }}
{{- range first 1 $div1 }}
    {{- $section = (strings.TrimPrefix $tmpsect_pref .) }}
{{- end }}
{{- $section = (strings.TrimSuffix "</div>" $section) }}
{{- $bc := "" }}
{{- if .Get "bgcolor" }}
    {{- $bc = printf "%s%s" "background-color:" (.Get "bgcolor") }}
{{- end }}
{{- if ne $section "" }}
            <span class="step-section" style="{{$bc}}">{{ $section | safeHTML }}</span>
{{- end }}
{{- $title := "" }}
{{- $tmptitle_pref := "<div class=\"tmp-step-title\">" }}
{{- $tmptitle := printf "%s(.|\n)*?</div>" $tmptitle_pref}}
{{- $div2 := findRE $tmptitle .Inner }}
{{- range first 1 $div2 }}
    {{- $title = (strings.TrimPrefix $tmptitle_pref .) }}
{{- end }}
{{- $title = (strings.TrimSuffix "</div>" $title) }}
            <span class="step-title-body">{{ $title | safeHTML }}</span>
        </div>
    </div>
</div>
{{- $inner := replaceRE $tmpsect "" .Inner }}
{{- $inner = replaceRE $tmptitle "" $inner }}
{{- $hasInner := (findRE "\\S+" $inner) }}
<div class="step-memo{{ if not $hasInner }} step-memo-blank{{ end }}">{{ $inner | markdownify }}</div>
