<div>
<strong>Steps:</strong>
    <table class="step-list">
{{- $lc := 0}}
{{- $idx := 0}}
{{- $href := ""}}
{{- range .Params }}
    {{-  $lc = (add $lc 1) }}
    {{- if not (modBool $lc 2)}}
        {{- $href = . }}
    {{- else }}
        {{- $idx = (add $idx 1) }}
        {{- $sid := (strings.TrimLeft "#" $href) }}
        <tr class="step-line"><th class="step-index"><input type="checkbox" class="step-list-check" id="sindexid_{{$sid}}"><label for="sindexid_{{$sid}}" class="step-index-label">Step {{$idx}}</label></th>
        <td class="step-link"><a href="{{$href}}">{{partial "applyparams" (dict "target" . "params" $.Site.Params)}}</a></td></tr>
    {{- end }}
{{- end }}
    </table>
</div>
