<aside>
    <nav class="subnavi">
        <a href="{{ .Get "url_1" }}" target="_blank" class="">
            <i class="{{ .Get "icon_1" }} subnavi2-icon" aria-hidden="true"></i>
            <span class="subnavi2-title">{{ .Get "title_1" }}</span>
        </a>
        <div class="subnavi2-msg">{{ .Get "msg_1" }}</div>
        <hr class="subnavi-part"> 
        <a href="{{ .Get "url_2" }}" target="_blank" class="">
            <i class="{{ .Get "icon_2" }} subnavi2-icon" aria-hidden="true"></i>
            <span class="subnavi2-title">{{ .Get "title_2" }}</span>
        </a>
        <div class="subnavi2-msg">{{ .Get "msg_2" }}</div>
    </nav>
</aside>
