{{- $tmptitle_pref := "<div class=\"tmp-tile-title\">" }}
{{- $tmptitle := printf "%s(.|\n)*?</div>" $tmptitle_pref }}
{{- $div_title := findRE $tmptitle .Inner }}
{{- $title := strings.TrimPrefix $tmptitle_pref (index $div_title 0) }}
{{- $title = strings.TrimSuffix "</div>" $title }}
{{- $tmptext_pref := "<div class=\"tmp-tile-text\">" }}
{{- $tmptext := printf "%s(.|\n)*?</div>" $tmptext_pref }}
{{- $div_text := findRE $tmptext .Inner }}
{{- $text := strings.TrimPrefix $tmptext_pref (index $div_text 0) }}
{{- $text = strings.TrimSuffix "</div>" $text }}
{{- $link_href := .Get "link_href" -}}
<div class="col-tile col-tile-gr">
    {{- if and $title (and $link_href (.Get "fontawesome_icon")) -}}
    <a class="" href="{{ $link_href }}" target="_self">
        <div class="tile-head">
            <div class="tile-icon">
                <i class="{{- .Get "fontawesome_icon"}}"></i>
            </div>
            <h3 class="tile-title">{{- $title -}}</h3>
        </div>
        <div class="tile-text">{{- $text | markdownify -}}</div>
    </a>
    {{- end -}}
</div>
