<div class="col-tile col-tile-gr col-tile-gr2 col-flat">
    <div>
    {{- if and (.Get "tile_title") (.Get "fontawesome_icon") -}}
        {{- if (.Get "link_href") -}}
        <a href="{{- .Get "link_href" -}}" target="_self">
            <div class="tile-icon">
                <i class="{{- .Get "fontawesome_icon" -}}"></i>
            </div>
            <h3 class="tile-title">{{- .Get "tile_title" -}}</h3>
        </a>
        {{- else -}}
        <div class="tile-icon">
            <i class="{{ .Get "fontawesome_icon" }} nolink"></i>
        </div>
        <h3 class="tile-title nolink">{{- .Get "tile_title" -}}</h3>
        {{- end -}}
    {{- end -}}
    </div>
    <div class="tile-text">{{- .Inner | markdownify -}}</div>
</div>