<div class="col-tile col-topics">
    <div class="tile-title">{{- .Get "title" -}}</div>
    <div class="hotArticle">
        <ol>
        {{ range $i, $r := getCSV "," (.Get "file") }}
        <li><a class="hotArticleLink" href="{{- index $r 1 -}}">{{- index $r 0 -}}</a></li>
            {{ if eq $i 3 }}
                </ol>
                </div>
                <div class="hotArticle" id="hotArticles-others" style="display:none">
                    <ol start=5>
            {{end}}
        {{ end }}
        </ol>
    </div>
    <div id="hotArticles-showMore">
        <span  class="fa fa-chevron-down"></span>
    </div>
</div>
